extends _layout/layout

block variables
	- var title = 'Duraflex'
	- var bodyclass = 'project-detail-page'

block css

block body 
	include _layout/header
	//- include _layout/banner
	main
		//- .container
		include _layout/ct-duanct
	include _layout/footer