section.bannerwrap.clearfix
	section.banner.clearfix.wow.zoomIn
		#bannerwrap.rev_slider_wrapper.fullscreen-container
			#banner001.rev_slider.fullscreenbanner(data-version="5.1.1RC")
				ul
					//- SLIDE
					li(data-transition="crossfade")
						//- MAIN IMAGE
						img(src="img/banner/1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina)
						//- LAYER
						.tp-caption.tp-resizeme.skrollable.skrollable-after(data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['center','center','center','center']", data-voffset="['0','0','0','0']", data-width="['1000','700','600','500']", data-height='none', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='y:50px;opacity:0;s:1500;e:Power4.easeInOut;', data-transform_out='y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', data-mask_out='x:inherit;y:inherit;', data-start='1000', data-splitin='none', data-splitout='none', data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]') 
							.banner-caption.text-center
								.bigcaption Tấm Calcium Silicate DURAflex
								.descaption Vật liệu của tương lai
								a.link(href="#") Tìm hiểu thêm
					//- SLIDE
					li(data-transition="crossfade")
						//- MAIN IMAGE
						img(src="img/banner/2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina)
						//- LAYER
						.tp-caption.tp-resizeme.skrollable.skrollable-after(data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['center','center','center','center']", data-voffset="['0','0','0','0']", data-width="['1000','700','600','500']", data-height='none', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='y:50px;opacity:0;s:1500;e:Power4.easeInOut;', data-transform_out='y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', data-mask_out='x:inherit;y:inherit;', data-start='1000', data-splitin='none', data-splitout='none', data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]') 
							.banner-caption.text-center
								.bigcaption DURAflex
								.descaption Tự hào là vật liệu xanh và thân thiện tuyệt đối với môi trường
								a.link(href="#") Tìm hiểu thêm
					//- SLIDE
					li(data-transition="crossfade")
						//- MAIN IMAGE
						img(src="img/banner/3.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina)
						//- LAYER
						.tp-caption.tp-resizeme.skrollable.skrollable-after(data-x="['center','center','center','center']", data-hoffset="['0','0','0','0']", data-y="['center','center','center','center']", data-voffset="['0','0','0','0']", data-width="['1000','700','600','500']", data-height='none', data-whitespace='normal', data-transform_idle='o:1;', data-transform_in='y:50px;opacity:0;s:1500;e:Power4.easeInOut;', data-transform_out='y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;', data-mask_out='x:inherit;y:inherit;', data-start='1000', data-splitin='none', data-splitout='none', data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]') 
							.banner-caption.text-center
								.bigcaption Tấm xi măng DURAflex
								.descaption Dòng sản phẩm hàng đầu tại thị trường Việt Nam
								a.link(href="#") Tìm hiểu thêm