section.booking-page.clearfix
	.container
		h1.page-title Đặt hàng
		.row
			.col-12.col-lg-10
				section.booking-form.clearfix
					.form-group
						label Công ty
						.input
							input(type="text")
							
					.form-group
						label Thông tin người liên hệ
						.input.gender
							select
								option Mr.
								option Mrs.
							input(type="text")
					.form-group
						label Telephone
						.input
							input(type="text")
					.form-group
						label Mobile phone
						.input
							input(type="text")
					.form-group
						label Fax
						.input
							input(type="text")
					.form-group
						label Địa chỉ
						.input
							input(type="text")
					.form-group
						label Quận / huyện
						.input.select
							select
								option 
					.form-group
						label Tỉnh thành
						.input.select
							select
								option 
					.form-group
						label Website
						.input
							input(type="text")
					.form-group
						label Email
						.input
							input(type="text")
					.form-group
						label Ngày nhận báo giá
						.input.date
							input(type="text")
					.form-group
						label Mong muốn ngày nhận sản phẩm
						.input.date
							input(type="text")
					.form-group
						label Chọn sản phẩm
						.input.select
							select
								option 
					.form-group
						label Số lượng
						.input.amount
							input(type="text")
					.form-group
						label Địa điểm giao hàng
						.input
							input(type="text")
					.form-group
						label Các yêu cầu khác
						.input
							input(type="text")
					.frm-btn
						input(type="submit", value="ĐẶT HÀNG")
							
							
							
							
							
							
							
							
							
							
							
							
							
							

