section.product-intro.s3.clearfix.wow.zoomIn
	.product-bg
		img(src="img/banner/s6.jpg", alt="")
	//- .container
		article.intro-content.clearfix.wow.fadeInLeft
			//- h1.product-logo
				img(src="img/project/logo1.png", alt="Durawood")
			h1.product-name Tấm lót sàn
			.content
				p Tấm lót sàn DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellu
			a.link.hvr-shutter-out-horizontal(href="#") Khám phá tấm lót sàn
section.product-page.project.clearfix
	.container
		h1.page-title.wow.fadeInLeft Dự án trung tâm thương mại ABC
		.row.flex-content-center
			.col-12.col-lg-10
				section.slide-wrap.clearfix
					.product-slide.clearfix.wow.fadeInUp
						.item
							a.img(href="img/project/img1.jpg" data-fancybox="gal1")
								img(src="img/project/img1.jpg", alt="")
						.item
							a.img(href="img/project/img2.jpg" data-fancybox="gal1")
								img(src="img/project/img2.jpg", alt="")
						.item
							a.img(href="img/project/img3.jpg" data-fancybox="gal1")
								img(src="img/project/img3.jpg", alt="")
						.item
							a.img(href="img/project/img4.jpg" data-fancybox="gal1")
								img(src="img/project/img4.jpg", alt="")
					.product-nav.clearfix.wow.fadeInUp
						.item
							.img
								img(src="img/project/img1.jpg", alt="")
						.item
							.img
								img(src="img/project/img2.jpg", alt="")
						.item
							.img
								img(src="img/project/img3.jpg", alt="")
						.item
							.img
								img(src="img/project/img4.jpg", alt="")
		//- .share
			img(src="img/share.jpg", alt="")
		.row
			//- .col-12.col-lg-9
				section.product-overview.clearfix.wow.fadeInLeft
					.content
						p Hậu quả của các đám cháy có thể gây ra thiệt hại rất lớn về con người cũng như vật chất. Nhằm bảo vệ cho con người cũng như tài sản.
						p Giải Pháp Chống Cháy Vĩnh Tường giúp  tăng cường khả năng chịu lửa, chịu nhiệt cho công trình qua đó bảo vệ tốt con người cũng như tài sản, các hạn mục công trình cũng như mang đến sự bền vững cho công trình. 
			//- .col-12.col-lg-3
				nav.product-sidebar.wow.fadeInRight
					ul 
						li 
							a(href="#") Đặt hàng
						li 
							a(href="#") Hỗ trợ kỹ thuật
						li 
							a(href="#") Tìm người bán
						li 
							a(href="#") Tài liệu kỹ thuật
			.col-12
				section.product-desc.clearfix
					.small-title Giới thiệu dự án
					.content.wow.fadeInUp
						p Đây là  khu căn hộ cao cấp kết hợp trung tâm thương mại, dịch vụ, văn phòng và khách sạn. Dự án được triển khai trên diện tích gần 8ha, gồm 4 tòa tháp căn hộ cao cấp với hơn 3.000 căn hộ; một tòa tháp văn phòng và khách sạn, trường học cùng khu trung tâm thương mại Vincom Mega Mall Thảo Điền quy mô lớn, hiện đại tại khu Đông thành TP HCM sẽ được đưa vào hoạt động cùng lúc với khu dân cư.
					.small-title Sản phẩm sử dụng
					.content
						p ...
			.col-12
				section.project-other.clearfix
					h3.page-title.wow.fadeInUp Dự án khác
					.project-list.clearfix
						.row
							.col-12.col-sm-6.col-lg-3.wow.fadeInUp
								article.project-col
									figure 
										a.project-img(href="#")
											img(src="img/project/p5.jpg", alt="")
										figcaption
											h1.project-name
												a(href="#") Trường học quốc tế Nhật Bản
											.project-des Trường Quốc tế Nhật Bản nằm trên trục đường Lê Văn Lương (nối dài) thuộc quận Hà Đông, được thiết kế
											a.link(href="#") Xem thêm
							.col-12.col-sm-6.col-lg-3.wow.fadeInUp
								article.project-col
									figure 
										a.project-img(href="#")
											img(src="img/project/p6.jpg", alt="")
										figcaption
											h1.project-name
												a(href="#") Trường Quốc Tế Liên Hiệp Quốc UNIS
											.project-des UNIS là trường được thành lập bởi Liên Hiệp Quốc và Chính phủ Việt
											a.link(href="#") Xem thêm
							.col-12.col-sm-6.col-lg-3.wow.fadeInUp
								article.project-col
									figure 
										a.project-img(href="#")
											img(src="img/project/p7.jpg", alt="")
										figcaption
											h1.project-name
												a(href="#") Oriental Sun Tower
											.project-des Tòa nhà Oriental Sun là công trình tổ hợp văn phòng, trung tâm thương mại và dịch vụ hiện đại. Với vị trí đắc
											a.link(href="#") Xem thêm
							.col-12.col-sm-6.col-lg-3.wow.fadeInUp
								article.project-col
									figure 
										a.project-img(href="#")
											img(src="img/project/p3.jpg", alt="")
										figcaption
											h1.project-name
												a(href="#") Vietcombank Tower
											.project-des Tọa lạc tại số 5 Công trường Mê Linh, P. Bến Nghé, Q.1, Cao ốc văn phòng Vietcombank Tower sở hữu vị
											a.link(href="#") Xem thêm