section.product-intro.s3.clearfix.wow.zoomIn
	.product-bg
		img(src="img/banner/s5.jpg", alt="")
section.solution-page.clearfix
	.container
		h1.page-title Giải pháp
		.solution-list.clearfix
			.row
				.col-custom.wow.fadeInUp
					.solution-col
						figure 
							a.solution-img(href="#")
								img(src="img/solution/i1.png", alt="")
							figcaption
								h2.solution-name
									a(href="#!") Giải pháp cách nhiệt
								a.link(href="#") Xem thêm
				.col-custom.wow.fadeInUp
					.solution-col
						figure 
							a.solution-img(href="#")
								img(src="img/solution/i2.png", alt="")
							figcaption
								h2.solution-name
									a(href="#!") Giải pháp chống ẩm
								a.link(href="#") Xem thêm
				.col-custom.wow.fadeInUp
					.solution-col
						figure 
							a.solution-img(href="#")
								img(src="img/solution/i3.png", alt="")
							figcaption
								h2.solution-name
									a(href="#!") Giải pháp chống cháy
								a.link(href="#") Xem thêm
				.col-custom.wow.fadeInUp
					.solution-col
						figure 
							a.solution-img(href="#")
								img(src="img/solution/i4.png", alt="")
							figcaption
								h2.solution-name
									a(href="#!") Giải pháp chống nóng
								a.link(href="#") Xem thêm
				.col-custom.wow.fadeInUp
					.solution-col
						figure 
							a.solution-img(href="#")
								img(src="img/solution/i5.png", alt="")
							figcaption
								h2.solution-name
									a(href="#!") Giải pháp chống ồn
								a.link(href="#") Xem thêm
				.col-custom.wow.fadeInUp
					.solution-col
						figure 
							a.solution-img(href="#")
								img(src="img/solution/i6.png", alt="")
							figcaption
								h2.solution-name
									a(href="#!") Giải pháp gia cố & chịu lực
								a.link(href="#") Xem thêm
				.col-custom.wow.fadeInUp
					.solution-col
						figure 
							a.solution-img(href="#")
								img(src="img/solution/i7.png", alt="")
							figcaption
								h2.solution-name
									a(href="#!") Giải pháp ngoại thất
								a.link(href="#") Xem thêm
				.col-custom.wow.fadeInUp
					.solution-col
						figure 
							a.solution-img(href="#")
								img(src="img/solution/i8.png", alt="")
							figcaption
								h2.solution-name
									a(href="#!") Giải pháp thẩm mỹ
								a.link(href="#") Xem thêm
				.col-custom.wow.fadeInUp
					.solution-col
						figure 
							a.solution-img(href="#")
								img(src="img/solution/i9.png", alt="")
							figcaption
								h2.solution-name
									a(href="#!") Giải pháp tiêu âm
								a.link(href="#") Xem thêm