section.product-intro.s3.clearfix.wow.zoomIn
	.product-bg
		img(src="img/banner/s5.jpg", alt="")
	//- .container
		article.intro-content.clearfix.wow.fadeInLeft
			//- h1.product-logo
				img(src="img/solution/logo1.png", alt="Durawood")
			h1.product-name Tấm lót sàn
			.content
				p Tấm lót sàn DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellu
			a.link.hvr-shutter-out-horizontal(href="#") Khám phá tấm lót sàn
section.product-page.clearfix
	.container
		h1.page-title.wow.fadeInLeft Giải pháp chống cháy
		.row.flex-content-center
			.col-12.col-lg-10
				section.slide-wrap.clearfix
					.product-slide.clearfix.wow.fadeInUp
						.item
							a.img(href="img/solution/p1.jpg" data-fancybox="gal1")
								img(src="img/solution/p1.jpg", alt="")
						.item
							a.img(href="img/solution/p2.jpg" data-fancybox="gal1")
								img(src="img/solution/p2.jpg", alt="")
						.item
							a.img(href="img/solution/p3.jpg" data-fancybox="gal1")
								img(src="img/solution/p3.jpg", alt="")
						.item
							a.img(href="img/solution/p4.jpg" data-fancybox="gal1")
								img(src="img/solution/p4.jpg", alt="")
					.product-nav.clearfix.wow.fadeInUp
						.item
							.img
								img(src="img/solution/p1.jpg", alt="")
						.item
							.img
								img(src="img/solution/p2.jpg", alt="")
						.item
							.img
								img(src="img/solution/p3.jpg", alt="")
						.item
							.img
								img(src="img/solution/p4.jpg", alt="")
		.share
			img(src="img/share.jpg", alt="")
		.row
			.col-12.col-lg-9
				section.product-overview.clearfix.wow.fadeInLeft
					.content
						p Hậu quả của các đám cháy có thể gây ra thiệt hại rất lớn về con người cũng như vật chất. Nhằm bảo vệ cho con người cũng như tài sản.
						p Giải Pháp Chống Cháy Vĩnh Tường giúp  tăng cường khả năng chịu lửa, chịu nhiệt cho công trình qua đó bảo vệ tốt con người cũng như tài sản, các hạn mục công trình cũng như mang đến sự bền vững cho công trình. 
			.col-12.col-lg-3
				nav.product-sidebar.wow.fadeInRight
					ul 
						li 
							a(href="#") Đặt hàng
						li 
							a(href="#") Hỗ trợ kỹ thuật
						li 
							a(href="#") Tìm người bán
						li 
							a(href="#") Tài liệu kỹ thuật
			.col-12
				section.product-desc.clearfix
					ul.nav.nav-tabs.wow.fadeInUp(role='tablist')
						li.nav-item
							a.nav-link.active(data-toggle='tab', href='#tab1', role='tab', aria-controls='tab1', aria-expanded='true') Giới thiệu chung
						li.nav-item
							a.nav-link(data-toggle='tab', href='#tab2', role='tab', aria-controls='tab2') Cấu tạo trần chống cháy
						li.nav-item
							a.nav-link(data-toggle='tab', href='#tab3', role='tab', aria-controls='tab3') Cấu tạo vách chống cháy
						li.nav-item
							a.nav-link(data-toggle='tab', href='#tab4', role='tab', aria-controls='tab4') Một số hệ thống vách chống cháy
					.tab-content
						#tab1.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
							.content.wow.fadeInUp
								p 
									strong GIẢI PHÁP CHỐNG CHÁY LÀ GÌ? 
								p Chống cháy luôn là mối quan tâm hàng đầu của mỗi chúng ta trong bất kỳ tình huống nào, vì hậu quả của đám cháy gây ra có thể rất nghiêm trọng, ảnh hưởng đến rất nhiều hạng mục khác trong công trình.
								p Giải pháp chống cháy là giải pháp ngăn cản hay làm chậm quá trính lan lửa từ nơi gây cháy sang các khu vực khác trong công trình, nhằm hạn chế sự hủy hoại công trình và kéo dài thời gian cho những người trong tòa nhà có thể di tản hoặc tìm được nơi cư trú an toàn. 
								.row
									.col-12.col-md-5
										img(src="img/solution/img1.jpg", alt="")
									.col-12.col-md-7
										p 
											strong TẠI SAO CẦN GIẢI PHÁP CHỐNG CHÁY?
										p Với chức năng bao bọc trên trần và không gian xung quanh, các giải pháp chống cháy cho trần và vách ngăn là rất cần thiết cho những tình huống không mong muốn.
										p Giải Pháp Chống Cháy mang đến không gian an toàn, bảo vệ cho con người cũng như tài sản, trước và trong khi đám cháy xảy ra.  
										p Giải pháp  đáp ứng được các yêu cầu của pháp luật về phòng cháy chữa cháy, các chi tiết quan trọng trong công trình. 
								p 
									strong NHỮNG LỢI ÍCH GIẢI PHÁP CHỐNG CHÁY MANG LẠI
								p Giải Pháp Chống Cháy giúp tăng cường khả năng chịu lửa, chịu nhiệt cho công trình, qua đó bảo vệ tốt con người cũng như tài sản, các hạng mục công trình cũng như mang đến sự bền vững cho công trình.
								p Ngoài ra, thực hiện giải pháp chống cháy cũng là thực hiện đầy đủ các nghĩa vụ của Luật pháp quy định về phòng cháy chữa cháy.
								p 
									strong NHỮNG LOẠI CÔNG TRÌNH CẦN GIẢI PHÁP CHỐNG CHÁY
								p Tất cả các loại nhà phố, nhà biệt thự, chung cư, nhà cao tầng. Đặc biệt là khu vực nấu nướng, khu vực sản xuất, khu vực lưu trữ tài liệu, nhà kho, vũ trường, quán bar, bảo tàng, triển lãm,…
						#tab2.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') ...
						#tab3.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') ...
						#tab4.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') ...
section.home-project.clearfix.wow.fadeIn
	.project-bg
		img(src="img/woodbg.jpg", alt="")
	.container
		h2.home-title.text-center.wow.fadeInUp Dự án sử dụng giải pháp
		.home-project-slide.wow.fadeInUp
			.item
				.project-item
					figure 
						.project-img
							img(src="img/project/1.jpg", alt="")
						figcaption
							h3.project-name
								a(href="#") Khu cộng đồng Masteri Thảo Điền
							.project-des Sản phẩm sử dụng: Khung Vĩnh Tường V-WALL, khung trần chìm Vĩnh Tường ALPHA, khung trần nổi Vĩnh Tường TopLINE Plus, tấm thạch cao Gyproc chống ẩm, tấm thạch cao Gyproc chống cháy và tấm DURAflex 8mm.
			.item
				.project-item
					figure 
						.project-img
							img(src="img/project/1.jpg", alt="")
						figcaption
							h3.project-name
								a(href="#") Khu cộng đồng Masteri Thảo Điền
							.project-des Sản phẩm sử dụng: Khung Vĩnh Tường V-WALL, khung trần chìm Vĩnh Tường ALPHA, khung trần nổi Vĩnh Tường TopLINE Plus, tấm thạch cao Gyproc chống ẩm, tấm thạch cao Gyproc chống cháy và tấm DURAflex 8mm.
			.item
				.project-item
					figure 
						.project-img
							img(src="img/project/1.jpg", alt="")
						figcaption
							h3.project-name
								a(href="#") Khu cộng đồng Masteri Thảo Điền
							.project-des Sản phẩm sử dụng: Khung Vĩnh Tường V-WALL, khung trần chìm Vĩnh Tường ALPHA, khung trần nổi Vĩnh Tường TopLINE Plus, tấm thạch cao Gyproc chống ẩm, tấm thạch cao Gyproc chống cháy và tấm DURAflex 8mm.