section.product-intro.s3.clearfix.wow.zoomIn
	.product-bg
		img(src="img/banner/s7.jpg", alt="")
	//- .container
		article.intro-content.clearfix.wow.fadeInLeft
			//- h1.product-logo
				img(src="img/project/logo1.png", alt="Durawood")
			h1.product-name Tấm lót sàn
			.content
				p Tấm lót sàn DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellu
			a.link.hvr-shutter-out-horizontal(href="#") Khám phá tấm lót sàn
.container
	.row
		.col-12.col-lg-9
			section.support-page.clearfix
				h1.page-title Hỏi đáp kỹ thuật
				h2.faq-title Xin tư vấn giúp tôi nên chọn giải pháp nào để sau này khi tháo giở ra thì trả lại nguyên hiện trạng cũ của ngôi nhà mà không phải sửa lại nhiều như xây tường gạch?
				.content
					p Tôi thuê lại một căn nhà để làm dịch vụ massage - xông hơi. Tôi cần làm vách ngăn ra nhiều phòng nhỏ và vách ngăn cho khu vực sauna - steambath. Xin tư vấn giúp tôi nên chọn giải pháp nào để sau này khi tháo giở ra thì trả lại nguyên hiện trạng cũ của ngôi nhà mà không phải sửa lại nhiều như xây tường gạch?(Anh Trần Huy Hoàng – Quận Thanh Khê – TP Đà Nẵng

					p Chào Anh!

					p Cảm ơn anh đã quan tâm và đặt câu hỏi cho chúng tôi. Đối với công trình của anh có một số điểm cần phải lưu ý:

					p - Khu vực để làm massage thường có độ ẩm ướt khá cao vì có thể tiếp xúc trực tiếp với nước và hơi nước. Vì vậy cần làm các loại vách chuyên dụng để chống nước và chống ẩm.

					p - Vách ngăn cho phòng sauna – steambath cần phải chống ẩm, chống nước đồng thời phải chịu nhiệt tốt.

					p - Tiện lợi để sau này khi tháo giở vách ra có thể trả lại hiện trạng như ban đầu cũng là yếu tố đòi hỏi phải đáp ứng được song song với các yêu cầu trên.

					p Hiện nay chúng tôi có các dòng vách nhẹ được lắp từ hệ khung Vĩnh Tường V-Wall, kết hợp với tấm calcium silicat có thể đáp ứng được các yêu cầu này:

					p - Để ngăn cách các phòng massage: Có thể dùng khung VT V-Wall 75/76 để dựng khung cho vách ngăn giữa các phòng, dùng tấm calcium silicate 8mm để bắt lên mặt vách, khung vách đi với khoảng cách 406mm (thị trường còn gọi tấm calcium silicate là “tấm cứng”

					p - Phòng sauna – steambath: dùng khung VT V-Wall 75/76 làm với khoảng cách các thanh đứng là 406mm. Bề mặt vách làm bằng tấm calcium silicate 10mm, vì trong các phòng này nhiệt độ thường trên 600C và hơi nước nhiều. Ngoài ra giữa khung và hai mặt vách cần thêm bông rockwool để tăng khả năng cách nhiệt bên trong phòng và khu vực bên ngoài.

					p Khi thi công cần lưu ý tấm calcium silicate có bề mặt cứng nên phải dùng vít chuyên dùng cho loại tấm này hoặc phải khoan lã đầu vít trên bề mặt tấm trước khi bắt lên vách để sau này khi trét bột và sơn nước sẽ phẳng, đẹp hơn cho bề mặt vách.

					p 1. Để được tư vấn chi tiết về giải pháp toàn diện cho công trình của bạn xin vui lòng liên hệ số điện thoại Phòng kỹ thuật - Công ty CPCN Vĩnh Tường: 090 330 6006 hoặc gửi câu hỏi về email: tuvan@trannhadep.com. 
					p 2. Cảnh báo mua nhầm hàng giả - hàng nhái: Quý khách hàng lưu ý các đặc điểm nhận diện sản phẩm của Vĩnh Tường để tránh mua nhầm hàng giả hàng nhái. 
					p 3. Lưu ý, có thể tìm danh sách đội nhóm thợ thi công đã qua đào tạo chuyên nghiệp từ Vĩnh Tường tại website www.trannhadep.com. Đội thợ này đã được cấp thẻ nghề sau khi trải qua khóa huấn luyện lý thuyết thi công và thực hành thực tế.  
				.share
					img(src="img/share.jpg", alt="")
			//- .pages
				ul.pagination
					li.active
						a(href="#") 1
					li 
						a(href="#") 2
					li 
						a(href="#") 3
					li 
						a(href="#") 4
		.col-12.col-lg-3
			section.faq-other.clearfix
				h3.sidebar-title Câu hỏi khác
				.faq-list
					a.faq(href="#") Tư vấn chọn vật liệu khi lên tầng mới từ nền nhà cũ
					a.faq(href="#") Chúng tôi có mua một căn hộ chung cư 70 m2, đầy đủ các phòng nhưng lại ...
					a.faq(href="#") Chúng tôi đang dự định làm một nhà xe ngoài trời mái tôn, tôi muốn làm trần để
					a.faq(href="#") Tại sao phải làm trần nhà bằng thạch cao ?
					a.faq(href="#") Tôi đang xây dựng một quán café có nhiều khu và nhiều tiểu cảnh khác
					a.faq(href="#") Tôi đang dự định xây dựng một khu sân tập tennis có hệ thống mái che. Tôi dự