section.product-intro.s3.clearfix.wow.zoomIn
	.product-bg
		img(src="img/banner/s7.jpg", alt="")
	//- .container
		article.intro-content.clearfix.wow.fadeInLeft
			//- h1.product-logo
				img(src="img/project/logo1.png", alt="Durawood")
			h1.product-name Tấm lót sàn
			.content
				p Tấm lót sàn DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellu
			a.link.hvr-shutter-out-horizontal(href="#") Khám phá tấm lót sàn
.container
	.row
		.col-12.col-lg-9
			section.support-page.clearfix
				h1.page-title Hỏi đáp kỹ thuật
				.faq-list.clearfix
					h2.faq 
						a(href="#") Tư vấn chọn vật liệu khi lên tầng mới từ nền nhà cũ
					h2.faq 
						a(href="#") Chúng tôi có mua một căn hộ chung cư 70 m2, đầy đủ các phòng nhưng lại không thấy vị trí thích hợp để bố trí bàn thờ (xem mặt bằng kèm theo). Xin nhờ quý chuyên gia báo giúp cho chúng tôi một gợi ý.
					h2.faq 
						a(href="#") Chúng tôi đang dự định làm một nhà xe ngoài trời mái tôn, tôi muốn làm trần để thấy sạch sẽ hơn khi nhìn vào và giảm độ nóng dưới nhà xe. Xin tư vấn cho tôi giải pháp để làm hệ thống trần này.
					h2.faq 
						a(href="#") Tại sao phải làm trần nhà bằng thạch cao ?
					h2.faq 
						a(href="#") Tôi đang xây dựng một quán café có nhiều khu và nhiều tiểu cảnh khác nhau. Xin vui lòng tư vấn dùm
					h2.faq 
						a(href="#") Tôi đang dự định xây dựng một khu sân tập tennis có hệ thống mái che. Tôi dự định làm hệ thống trần thạch cao để trang trí và đồng thời chống nóng thì có được không?
					h2.faq 
						a(href="#") Tôi đang xây dựng một phòng mạch tại gia với hai phòng khám. Vì số lượng bệnh nhân hàng ngày đông nên môi trường cần phải sạch sẽ, kháng khuẩn tốt để tránh lây nhiễm. Xin tư vấn tôi nên ngăn vách như thế nào?
					h2.faq 
						a(href="#") Mong quý công ty tư vấn tôi giải pháp nào để hạn chế thiệt hại nếu có sự cố cháy nổ bên kho xăng dầu và ẩm mốc trên tường sát vách khu vực rửa xe
					h2.faq 
						a(href="#") Xin tư vấn giúp tôi nên chọn giải pháp nào để sau này khi tháo giở ra thì trả lại nguyên hiện trạng cũ của ngôi nhà mà không phải sửa lại nhiều như xây tường gạch?
			.pages
				ul.pagination
					li.active
						a(href="#") 1
					li 
						a(href="#") 2
					li 
						a(href="#") 3
					li 
						a(href="#") 4
		.col-12.col-lg-3
			nav.sidebar-category.clearfix
				ul
					li.active
						a(href="#") Hỏi đáp kỹ thuật
					li
						a(href="#") Hỏi đáp sản phẩm
					li
						a(href="#") Hỏi đáp chuyên môn