section.product-intro.s3.clearfix.wow.zoomIn
	.product-bg
		img(src="img/banner/s9.jpg", alt="")
	//- .container
		article.intro-content.clearfix.wow.fadeInLeft
			//- h1.product-logo
				img(src="img/project/logo1.png", alt="Durawood")
			h1.product-name Tấm lót sàn
			.content
				p Tấm lót sàn DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellu
			a.link.hvr-shutter-out-horizontal(href="#") Khám phá tấm lót sàn
section.video-page.clearfix
	.container
		h1.page-title Hướng dẫn thi công
		.video-list
			.row
				.col-12.col-lg-7
					.video.video1
						figure 
							a.video-img(href="#")
								img(src="img/video/v1.jpg", alt="")
							figcaption
								h2.video-name
									a(href="#") Hướng dẫn thi công vách ngăn bằng tấm xi măng DURAflex
				.col-12.col-lg-5
					.video.video2
						figure 
							a.video-img(href="#")
								img(src="img/video/v2.jpg", alt="")
							figcaption
								h2.video-name
									a(href="#") Hướng dẫn thi công khung vách ngăn
					.video.video2
						figure 
							a.video-img(href="#")
								img(src="img/video/v3.jpg", alt="")
							figcaption
								h2.video-name
									a(href="#") Hướng dẫn thi công sàn gác lửng bằng tấm xi măng DURAflex
					.video.video2
						figure 
							a.video-img(href="#")
								img(src="img/video/v4.jpg", alt="")
							figcaption
								h2.video-name
									a(href="#") Hướng dẫn thi công trần và tường thạch cao cho nhà container
				.col-12.col-sm-6.col-lg-3
					.video.video3
						figure 
							a.video-img(href="#")
								img(src="img/video/v5.jpg", alt="")
							figcaption
								h2.video-name
									a(href="#") Hướng dẫn thi công xử lý mối nối tấm xi măng DURAflex
				.col-12.col-sm-6.col-lg-3
					.video.video3
						figure 
							a.video-img(href="#")
								img(src="img/video/v6.jpg", alt="")
							figcaption
								h2.video-name
									a(href="#") Installation guidebook
				.col-12.col-sm-6.col-lg-3
					.video.video3
						figure 
							a.video-img(href="#")
								img(src="img/video/v7.jpg", alt="")
							figcaption
								h2.video-name
									a(href="#") Lưu ý thi công hệ tường thạch cao DW4
				.col-12.col-sm-6.col-lg-3
					.video.video3
						figure 
							a.video-img(href="#")
								img(src="img/video/v8.jpg", alt="")
							figcaption
								h2.video-name
									a(href="#") Hướng dẫn sơn tấm DURAwood với dòng sơn cao cấp & dòng sơn phổ thông
.pages
	ul.pagination
		li.active
			a(href="#") 1
		li 
			a(href="#") 2
		li 
			a(href="#") 3
		li 
			a(href="#") 4