section.home-app.clearfix
	.container
		.app-list.clearfix
			.row
				.col-custom.wow.fadeInUp
					.app-col
						figure 
							.app-img 
								img(src="img/icon/a1.png", alt="")
							figcaption
								h3.app-name
									a(href="#") Ứng dụng trần
								.app-des Sản phẩm thay thế trần thạch cao, ưu điểm chịu nước thích hợp với khí hậu, thời tiết nóng ẩm của Việt Nam.
								a.hvr-shutter-out-horizontal.link(href="#") Chi tiết
				.col-custom.wow.fadeInUp
					.app-col
						figure 
							.app-img 
								img(src="img/icon/a2.png", alt="")
							figcaption
								h3.app-name
									a(href="#") Ứng dụng tường
								.app-des Khả năng chịu nước và các điều kiện khắc nghiệt khác giúp tấm DURAflex có thể sử dụng để làm tường vách ở các khu vực ẩm ướt cao.

								a.hvr-shutter-out-horizontal.link(href="#") Chi tiết
				.col-custom.wow.fadeInUp
					.app-col
						figure 
							.app-img 
								img(src="img/icon/a3.png", alt="")
							figcaption
								h3.app-name
									a(href="#") Ứng dụng sàn
								.app-des Ứng dụng để làm sàn nhà, lót nền như các loại tấm xi-măng khác hay thay thế các loại gạch men, gạch bông...
								a.hvr-shutter-out-horizontal.link(href="#") Chi tiết
				.col-custom.wow.fadeInUp
					.app-col
						figure 
							.app-img 
								img(src="img/icon/a4.png", alt="")
							figcaption
								h3.app-name
									a(href="#") Ứng dụng khác
								.app-des Keo xử lý mối nối DURAflex với thành phần chính là chất kết dính Polymer kết hợp với các phụ gia siêu mịn được nghiên cứu và pháp triển
								a.hvr-shutter-out-horizontal.link(href="#") Chi tiết
				.col-custom.wow.fadeInUp
					.app-col
						figure 
							.app-img 
								img(src="img/icon/a5.png", alt="")
							figcaption
								h3.app-name
									a(href="#") DURAwood
								.app-des DURAwood là vật liệu có nền là tấm xi mamng8 DURAflex - sản phẩm kết hợp vật liệu chủ yếu là xi măng Portland, cát, vôi & được tăng cường...
								a.hvr-shutter-out-horizontal.link(href="#") Chi tiết
section.home-product.clearfix
	.container
		h1.home-title.text-center.wow.fadeInUp Thông tin sản phẩm
		.row
			.col-12.col-lg-6.wow.fadeInLeft
				.product-img
					img(src="img/home/img1.png", alt="")
			.col-12.col-lg-6.wow.fadeInRight
				.product-des.content
					p Tấm xi măng DURAflex là vật liệu xây dựng xanh đạt chứng nhận Green Label của hội đồng xanh Singapore. DURAflex là thương hiệu tấm xi măng do Công Ty Vĩnh Tường sản xuất và đưa ra thị trường từ năm 2010.
					p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellulose. Đặc biệt trong thành phần tấm không chứa các sợi amiang gây ung thư (Chứng nhận không chứa amiang của sản phẩm). Với các thành phần nguyên liệu xanh, sạch và công nghệ chưng hấp trong nồi áp suất với nhiệt độ hấp gần 200 độ C trong điều kiện áp suất 10 Psi giúp cho sản phẩm tạo ra các thành phần khoáng calcium silicate cực kỳ bền chắc với thời gian bảo hành trên 50 năm của nhà sản xuất.
				a.btn-viewmore(href="#" data-toggle="modal" data-target="#modal1") Tìm hiểu thêm
				
				#modal1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
					.modal-dialog(role='document')
						.modal-content
							.modal-header
								h5#exampleModalLabel.modal-title Tấm xi măng DURAflex
								button.close(type='button', data-dismiss='modal', aria-label='Close')
									span(aria-hidden='true') &times;
							.modal-body
								.content
									p Tấm xi măng DURAflex là vật liệu xây dựng xanh đạt chứng nhận Green Label của hội đồng xanh Singapore. DURAflex là thương hiệu tấm xi măng do Công Ty Vĩnh Tường sản xuất và đưa ra thị trường từ năm 2010.
									p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellulose. Đặc biệt trong thành phần tấm không chứa các sợi amiang gây ung thư (Chứng nhận không chứa amiang của sản phẩm). Với các thành phần nguyên liệu xanh, sạch và công nghệ chưng hấp trong nồi áp suất với nhiệt độ hấp gần 200 độ C trong điều kiện áp suất 10 Psi giúp cho sản phẩm tạo ra các thành phần khoáng calcium silicate cực kỳ bền chắc với thời gian bảo hành trên 50 năm của nhà sản xuất.
									p Tấm xi măng DURAflex là vật liệu xây dựng xanh đạt chứng nhận Green Label của hội đồng xanh Singapore. DURAflex là thương hiệu tấm xi măng do Công Ty Vĩnh Tường sản xuất và đưa ra thị trường từ năm 2010.
									p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellulose. Đặc biệt trong thành phần tấm không chứa các sợi amiang gây ung thư (Chứng nhận không chứa amiang của sản phẩm). Với các thành phần nguyên liệu xanh, sạch và công nghệ chưng hấp trong nồi áp suất với nhiệt độ hấp gần 200 độ C trong điều kiện áp suất 10 Psi giúp cho sản phẩm tạo ra các thành phần khoáng calcium silicate cực kỳ bền chắc với thời gian bảo hành trên 50 năm của nhà sản xuất.
									p Tấm xi măng DURAflex là vật liệu xây dựng xanh đạt chứng nhận Green Label của hội đồng xanh Singapore. DURAflex là thương hiệu tấm xi măng do Công Ty Vĩnh Tường sản xuất và đưa ra thị trường từ năm 2010.
									p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellulose. Đặc biệt trong thành phần tấm không chứa các sợi amiang gây ung thư (Chứng nhận không chứa amiang của sản phẩm). Với các thành phần nguyên liệu xanh, sạch và công nghệ chưng hấp trong nồi áp suất với nhiệt độ hấp gần 200 độ C trong điều kiện áp suất 10 Psi giúp cho sản phẩm tạo ra các thành phần khoáng calcium silicate cực kỳ bền chắc với thời gian bảo hành trên 50 năm của nhà sản xuất.

section.home-feature.s2.clearfix
	.container
		h2.home-title.text-center.wow.fadeInUp Các tính năng nổi bật
		.home-des.text-center.wow.fadeInUp Tấm xi măng DURAflex có nhiều tính năng như: chịu ẩm ướt, có thể sử dụng trong môi trường tiếp xúc nước như hồ bơi, phòng tắm, độ cứng và cường độ uốn cao, cách nhiệt, cách âm tốt, chống cháy, chống mối mọt, mục nát phân rã lên đến 50 năm.
		.feature-nav
			.item.wow.fadeInUp
				.feature-item
					figure 
						.icon
							img(src="img/icon/f1.png", alt="")
						figcaption
							h3.title Thích hợp ẩm ướt
			.item.wow.fadeInUp
				.feature-item
					figure 
						.icon
							img(src="img/icon/f2.png", alt="")
						figcaption
							h3.title Chống cháy cao
			.item.wow.fadeInUp
				.feature-item
					figure 
						.icon
							img(src="img/icon/f3.png", alt="")
						figcaption
							h3.title Chống mối mọt
			.item.wow.fadeInUp
				.feature-item
					figure 
						.icon
							img(src="img/icon/f4.png", alt="")
						figcaption
							h3.title Màu sáng phẳng mịn
			.item.wow.fadeInUp
				.feature-item
					figure 
						.icon
							img(src="img/icon/f5.png", alt="")
						figcaption
							h3.title Không vỡ khi bắn vít
			.item.wow.fadeInUp
				.feature-item
					figure 
						.icon
							img(src="img/icon/f6.png", alt="")
						figcaption
							h3.title Không cong vênh
		.feature-slide
			.item
				.feature-detail
					.row
						.col-12.col-lg-5.col-xl-4
							.feature-content
								h3.page-title.wow.fadeInUp Thích hợp ẩm ướt
								.content.wow.fadeInUp
									p Tấm xi măng DURAflex được sản xuất từ xi măng, bột đá vôi và sợi giấy cellulose với công nghệ chưng áp trong Autoclave giúp sản phẩm có độ cứng của bê tông xi măng nhưng vẫn giữ được độ dẻo dai nhờ ma trận sợi giấy.
									p Đặc biệt tấm DURAflex có cấu trúc sít đặc nhờ thành phần phối liệu cực mịn giúp tấm DURAflex có khả năng chống thấm nước cực tốt.
									p Thông số chống thấm nước là một thông số kỹ thuật quan trọng để chúng ta lựa chọn vật liệu trước khi xây dựng.
									a.btn-viewmore(href="#") Tìm hiểu thêm
						.col-12.col-lg-7.col-xl-8
							.feature-img.wow.fadeInRight
								img(src="img/home/f1.png", alt="")
			.item
				.feature-detail
					.row
						.col-12.col-lg-5.col-xl-4
							.feature-content
								h3.page-title.wow.fadeInUp Thích hợp ẩm ướt
								.content.wow.fadeInUp
									p Tấm xi măng DURAflex được sản xuất từ xi măng, bột đá vôi và sợi giấy cellulose với công nghệ chưng áp trong Autoclave giúp sản phẩm có độ cứng của bê tông xi măng nhưng vẫn giữ được độ dẻo dai nhờ ma trận sợi giấy.
									p Đặc biệt tấm DURAflex có cấu trúc sít đặc nhờ thành phần phối liệu cực mịn giúp tấm DURAflex có khả năng chống thấm nước cực tốt.
									p Thông số chống thấm nước là một thông số kỹ thuật quan trọng để chúng ta lựa chọn vật liệu trước khi xây dựng.
									a.btn-viewmore(href="#") Tìm hiểu thêm
						.col-12.col-lg-7.col-xl-8
							.feature-img.wow.fadeInRight
								img(src="img/home/f1.png", alt="")
			.item
				.feature-detail
					.row
						.col-12.col-lg-5.col-xl-4
							.feature-content
								h3.page-title.wow.fadeInUp Thích hợp ẩm ướt
								.content.wow.fadeInUp
									p Tấm xi măng DURAflex được sản xuất từ xi măng, bột đá vôi và sợi giấy cellulose với công nghệ chưng áp trong Autoclave giúp sản phẩm có độ cứng của bê tông xi măng nhưng vẫn giữ được độ dẻo dai nhờ ma trận sợi giấy.
									p Đặc biệt tấm DURAflex có cấu trúc sít đặc nhờ thành phần phối liệu cực mịn giúp tấm DURAflex có khả năng chống thấm nước cực tốt.
									p Thông số chống thấm nước là một thông số kỹ thuật quan trọng để chúng ta lựa chọn vật liệu trước khi xây dựng.
									a.btn-viewmore(href="#") Tìm hiểu thêm
						.col-12.col-lg-7.col-xl-8
							.feature-img.wow.fadeInRight
								img(src="img/home/f1.png", alt="")
			.item
				.feature-detail
					.row
						.col-12.col-lg-5.col-xl-4
							.feature-content
								h3.page-title.wow.fadeInUp Thích hợp ẩm ướt
								.content.wow.fadeInUp
									p Tấm xi măng DURAflex được sản xuất từ xi măng, bột đá vôi và sợi giấy cellulose với công nghệ chưng áp trong Autoclave giúp sản phẩm có độ cứng của bê tông xi măng nhưng vẫn giữ được độ dẻo dai nhờ ma trận sợi giấy.
									p Đặc biệt tấm DURAflex có cấu trúc sít đặc nhờ thành phần phối liệu cực mịn giúp tấm DURAflex có khả năng chống thấm nước cực tốt.
									p Thông số chống thấm nước là một thông số kỹ thuật quan trọng để chúng ta lựa chọn vật liệu trước khi xây dựng.
									a.btn-viewmore(href="#") Tìm hiểu thêm
						.col-12.col-lg-7.col-xl-8
							.feature-img.wow.fadeInRight
								img(src="img/home/f1.png", alt="")
			.item
				.feature-detail
					.row
						.col-12.col-lg-5.col-xl-4
							.feature-content
								h3.page-title.wow.fadeInUp Thích hợp ẩm ướt
								.content.wow.fadeInUp
									p Tấm xi măng DURAflex được sản xuất từ xi măng, bột đá vôi và sợi giấy cellulose với công nghệ chưng áp trong Autoclave giúp sản phẩm có độ cứng của bê tông xi măng nhưng vẫn giữ được độ dẻo dai nhờ ma trận sợi giấy.
									p Đặc biệt tấm DURAflex có cấu trúc sít đặc nhờ thành phần phối liệu cực mịn giúp tấm DURAflex có khả năng chống thấm nước cực tốt.
									p Thông số chống thấm nước là một thông số kỹ thuật quan trọng để chúng ta lựa chọn vật liệu trước khi xây dựng.
									a.btn-viewmore(href="#") Tìm hiểu thêm
						.col-12.col-lg-7.col-xl-8
							.feature-img.wow.fadeInRight
								img(src="img/home/f1.png", alt="")
			.item
				.feature-detail
					.row
						.col-12.col-lg-5.col-xl-4
							.feature-content
								h3.page-title.wow.fadeInUp Thích hợp ẩm ướt
								.content.wow.fadeInUp
									p Tấm xi măng DURAflex được sản xuất từ xi măng, bột đá vôi và sợi giấy cellulose với công nghệ chưng áp trong Autoclave giúp sản phẩm có độ cứng của bê tông xi măng nhưng vẫn giữ được độ dẻo dai nhờ ma trận sợi giấy.
									p Đặc biệt tấm DURAflex có cấu trúc sít đặc nhờ thành phần phối liệu cực mịn giúp tấm DURAflex có khả năng chống thấm nước cực tốt.
									p Thông số chống thấm nước là một thông số kỹ thuật quan trọng để chúng ta lựa chọn vật liệu trước khi xây dựng.
									a.btn-viewmore(href="#") Tìm hiểu thêm
						.col-12.col-lg-7.col-xl-8
							.feature-img.wow.fadeInRight
								img(src="img/home/f1.png", alt="")
section.home-project.clearfix.wow.fadeIn
	.project-bg
		img(src="img/woodbg.jpg", alt="")
	.container
		h2.home-title.text-center.wow.fadeInUp Công trình tiêu biểu
		.home-project-slide.wow.fadeInUp
			.item
				.project-item
					figure 
						.project-img
							img(src="img/project/1.jpg", alt="")
						figcaption
							h3.project-name
								a(href="#") Khu cộng đồng Masteri Thảo Điền
							.project-des Sản phẩm sử dụng: Khung Vĩnh Tường V-WALL, khung trần chìm Vĩnh Tường ALPHA, khung trần nổi Vĩnh Tường TopLINE Plus, tấm thạch cao Gyproc chống ẩm, tấm thạch cao Gyproc chống cháy và tấm DURAflex 8mm.
			.item
				.project-item
					figure 
						.project-img
							img(src="img/project/1.jpg", alt="")
						figcaption
							h3.project-name
								a(href="#") Khu cộng đồng Masteri Thảo Điền
							.project-des Sản phẩm sử dụng: Khung Vĩnh Tường V-WALL, khung trần chìm Vĩnh Tường ALPHA, khung trần nổi Vĩnh Tường TopLINE Plus, tấm thạch cao Gyproc chống ẩm, tấm thạch cao Gyproc chống cháy và tấm DURAflex 8mm.
			.item
				.project-item
					figure 
						.project-img
							img(src="img/project/1.jpg", alt="")
						figcaption
							h3.project-name
								a(href="#") Khu cộng đồng Masteri Thảo Điền
							.project-des Sản phẩm sử dụng: Khung Vĩnh Tường V-WALL, khung trần chìm Vĩnh Tường ALPHA, khung trần nổi Vĩnh Tường TopLINE Plus, tấm thạch cao Gyproc chống ẩm, tấm thạch cao Gyproc chống cháy và tấm DURAflex 8mm.
section.home-news.clearfix
	.container
		h2.home-title.text-center.wow.fadeInUp Tin tức - Sự kiện
		.row
			.col-12.col-lg-8.wow.fadeInLeft
				.news-list.clearfix
					.row
						.col-12.col-md-6
							article.news-col.big
								figure
									a.news-img(href="#")
										img(src="img/news/1.jpg", alt="")
										time
											span.date 04
											span.month Tháng 5
									figcaption
										h3.news-name
											a(href="#") Hội thảo vật liệu nhẹ cho công trình xanh tại các trường đại học
										.news-des Thiết kế xanh và phát triển bền vững  đã đang là xu hướng của kiến trúc hiện đại, các hoạt động của Gyproc - Vĩnh Tường – DURAflex cũng không nằm ngoài xu hướng này.

						.col-12.col-md-6
							article.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/2.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Vĩnh Tường-Gyproc giới thiệu Giải pháp vật liệu nhẹ gây ấn tượng tại Vietbuild Đà Nẵng
							article.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/3.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") "Kiến trúc sư lựa chọn vật liệu dựa trên sự am hiểu và cái tâm"
							article.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/4.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Saint-Gobain Việt Nam tham dự triển lãm thiết bị công nghệ và vật liệu xây dựng
							article.news-col
								figure
									a.news-img(href="#")
										img(src="img/news/5.jpg", alt="")
									figcaption
										h3.news-name
											a(href="#") Vĩnh Tường vào Top 50 Doanh nghiệp xuất sắc nhất Việt Nam 2016
										//- .news-des Thiết kế xanh và phát triển bền vững  đã đang là xu hướng của kiến trúc hiện đại, các hoạt động của Gyproc - Vĩnh Tường – DURAflex cũng không nằm ngoài xu hướng này.
										
			.col-12.col-lg-4.wow.fadeInRight
				.fb-fanpage
					img(src="img/fb.jpg", alt="")