section.product-intro.clearfix.wow.zoomIn
	.product-bg
		img(src="img/banner/s2.jpg", alt="")
	.container
		article.intro-content.clearfix.wow.fadeInLeft
			//- h1.product-logo
				img(src="img/product/logo1.png", alt="Durawood")
			h1.product-name Trần DURAflex
			.content
				p Tấm calcium silicate DURAflex 3.5mm-4.5mm do Vĩnh Tường sản xuất được ứng dụng làm trần nổi, thích hợp với khí hậu, thời tiết nóng ẩm của Việt Nam. Sản phẩm được bảo hành sản phẩm 50 năm.
			a.link.hvr-shutter-out-horizontal(href="#") Khám phá trần nổi DURAflex
section.product-section.s2.clearfix
	.container
		//- h1.home-title.text-center Thông tin sản phẩm
		.row
			.col-12.col-lg-6.col-text
				h2.page-title.wow.fadeInUp Thích hợp ẩm ướt
				.product-des.content.wow.fadeInUp
					p Tấm xi măng DURAflex được sản xuất từ xi măng, bột đá vôi và sợi giấy cellulose với công nghệ chưng áp trong Autoclave giúp sản phẩm có độ cứng của bê tông xi măng nhưng vẫn giữ được độ dẻo dai nhờ ma trận sợi giấy. Đặc biệt tấm DURAflex có cấu trúc sít đặc nhờ thành phần phối liệu cực mịn giúp tấm DURAflex có khả năng chống thấm nước cực tốt. Thông số chống thấm nước là một thông số kỹ thuật quan trọng để chúng ta lựa chọn vật liệu trước khi xây dựng.
				a.btn-viewmore.wow.fadeInUp(href="#") Tìm hiểu thêm
			.col-12.col-lg-6.col-img
				.product-img.wow.fadeInRight
					img(src="img/product/pr2.png", alt="")
section.product-section.clearfix
	.container
		//- h1.home-title.text-center Thông tin sản phẩm
		.row
			.col-12.col-lg-6.col-img
				.style-slide.wow.fadeInLeft
					.item
						.img
							img(src="img/product/2/s1.jpg", alt="")
					.item
						.img
							img(src="img/product/2/s1.jpg", alt="")
					.item
						.img
							img(src="img/product/2/s1.jpg", alt="")
					.item
						.img
							img(src="img/product/2/s1.jpg", alt="")
					.item
						.img
							img(src="img/product/2/s1.jpg", alt="")
					.item
						.img
							img(src="img/product/2/s1.jpg", alt="")
					.item
						.img
							img(src="img/product/2/s1.jpg", alt="")
				.color-slide.wow.fadeInLeft
					.item
						.color
							img(src="img/product/2/c1.jpg", alt="")
					.item
						.color
							img(src="img/product/2/c2.jpg", alt="")
					.item
						.color
							img(src="img/product/2/c3.jpg", alt="")
					.item
						.color
							img(src="img/product/2/c4.jpg", alt="")
					.item
						.color
							img(src="img/product/2/c5.jpg", alt="")
					.item
						.color
							img(src="img/product/2/c1.jpg", alt="")
					.item
						.color
							img(src="img/product/2/c2.jpg", alt="")
			.col-12.col-lg-6.col-text
				h2.page-title.wow.fadeInUp Hoa văn đa dạng
				.product-des.content.wow.fadeInUp
					p Tấm trần nổi DURAflex không chỉ bền mà còn đặc sắc với đa dạng kiểu in hoa văn hoặc dán PVC, tối ưu cho sự lựa chọn của người sử dụng.
					p Tấm xi măng DURAflex được sản xuất từ xi măng, bột đá vôi và sợi giấy cellulose với công nghệ chưng áp trong Autoclave giúp sản phẩm có độ cứng của bê tông xi măng nhưng vẫn giữ được độ dẻo dai nhờ ma trận sợi giấy. Đặc biệt tấm DURAflex có cấu trúc sít đặc nhờ thành phần phối liệu cực mịn giúp tấm DURAflex có khả năng chống thấm nước cực tốt. Thông số chống thấm nước là một thông số kỹ thuật quan trọng để chúng ta lựa chọn vật liệu trước khi xây dựng.
				a.btn-viewmore.wow.fadeInUp(href="#") Tìm hiểu thêm
section.product-section.s2.clearfix
	.container
		//- h1.home-title.text-center Thông tin sản phẩm
		.row
			.col-12.col-lg-6.col-text
				h2.page-title.wow.fadeInUp Bề mặt phẳng mịn
				.product-des.content.wow.fadeInUp
					p Tấm xi măng DURAflex được sản xuất từ xi măng, bột đá vôi và sợi giấy cellulose với công nghệ chưng áp trong Autoclave giúp sản phẩm có độ cứng của bê tông xi măng nhưng vẫn giữ được độ dẻo dai nhờ ma trận sợi giấy. Đặc biệt tấm DURAflex có cấu trúc sít đặc nhờ thành phần phối liệu cực mịn giúp tấm DURAflex có khả năng chống thấm nước cực tốt. Thông số chống thấm nước là một thông số kỹ thuật quan trọng để chúng ta lựa chọn vật liệu trước khi xây dựng.
				a.btn-viewmore.wow.fadeInUp(href="#") Tìm hiểu thêm
			.col-12.col-lg-6.col-img
				.product-img.wow.fadeInRight
					img(src="img/product/pr9.png", alt="")
section.product-section.clearfix
	.container
		//- h1.home-title.text-center Thông tin sản phẩm
		.row
			.col-12.col-lg-6.col-img
				.product-img.wow.fadeInLeft
					img(src="img/product/pr10.png", alt="")
			.col-12.col-lg-6.col-text
				h2.page-title.wow.fadeInUp Không cong vênh
				.product-des.content.wow.fadeInUp
					p Tấm trần nổi DURAflex không chỉ bền mà còn đặc sắc với đa dạng kiểu in hoa văn hoặc dán PVC, tối ưu cho sự lựa chọn của người sử dụng.
					p Tấm xi măng DURAflex được sản xuất từ xi măng, bột đá vôi và sợi giấy cellulose với công nghệ chưng áp trong Autoclave giúp sản phẩm có độ cứng của bê tông xi măng nhưng vẫn giữ được độ dẻo dai nhờ ma trận sợi giấy. Đặc biệt tấm DURAflex có cấu trúc sít đặc nhờ thành phần phối liệu cực mịn giúp tấm DURAflex có khả năng chống thấm nước cực tốt. Thông số chống thấm nước là một thông số kỹ thuật quan trọng để chúng ta lựa chọn vật liệu trước khi xây dựng.
				a.btn-viewmore.wow.fadeInUp(href="#") Tìm hiểu thêm
section.product-section.s2.clearfix
	.container
		//- h1.home-title.text-center Thông tin sản phẩm
		.row
			.col-12.col-lg-6.col-text
				h2.page-title.wow.fadeInUp Dễ dàng thi công
				.product-des.content.wow.fadeInUp
					p Sử dụng đồng bộ sản phẩm: Khung, tấm, phụ kiện để đảm bảo độ bền của hệ thống » Tham khảo hướng dẫn nhận diện sản phẩm Vĩnh Tường
					p Sử dụng trần và vách có thêm tính năng chóng nóng, chống ồn, chống ẩm,...» Tham khảo hệ thống giải pháp của Vĩnh Tường
					p Nên sử dụng thợ thi công thạch cao được đào tạo và cấp thẻ nghề của Vĩnh Tường để đảm bảo thi công chuyên nghiệp cho hệ trần và vách đẹp, an toàn. 
				a.btn-viewmore.wow.fadeInUp(href="#") Tìm hiểu thêm
			.col-12.col-lg-6.col-img
				.video.wow.fadeInRight
					a(href="https://youtu.be/EHxrhJfTj6s" data-fancybox="video")
						img(src="img/product/v3.jpg", alt="")
section.product-video.clearfix
	.container
		.wrap
			h3.small-title.text-center.wow.fadeInUp Hướng dẫn thi công
			.product-video-slide
				.item.wow.fadeInUp
					a.video(href="#")
						figure
							img(src="img/video/1.jpg", alt="")
							figcaption
								<i class="fa fa-play-circle-o" aria-hidden="true"></i>
								span.video-name Hướng dẫn thi công 1
				.item.wow.fadeInUp
					a.video(href="#")
						figure
							img(src="img/video/1.jpg", alt="")
							figcaption
								<i class="fa fa-play-circle-o" aria-hidden="true"></i>
								span.video-name Hướng dẫn thi công 2
				.item.wow.fadeInUp
					a.video(href="#")
						figure
							img(src="img/video/1.jpg", alt="")
							figcaption
								<i class="fa fa-play-circle-o" aria-hidden="true"></i>
								span.video-name Hướng dẫn thi công 3
				.item.wow.fadeInUp
					a.video(href="#")
						figure
							img(src="img/video/1.jpg", alt="")
							figcaption
								<i class="fa fa-play-circle-o" aria-hidden="true"></i>
								span.video-name Hướng dẫn thi công 4
				.item.wow.fadeInUp
					a.video(href="#")
						figure
							img(src="img/video/1.jpg", alt="")
							figcaption
								<i class="fa fa-play-circle-o" aria-hidden="true"></i>
								span.video-name Hướng dẫn thi công 5

section.home-project.s2.clearfix.wow.fadeIn
	.project-bg
		img(src="img/woodbg2.jpg", alt="")
	.container
		h2.home-title.text-center.wow.fadeInUp Công trình tiêu biểu
		.home-project-slide.wow.fadeInUp
			.item
				.project-item
					figure 
						.project-img
							img(src="img/project/1.jpg", alt="")
						figcaption
							h3.project-name
								a(href="#") Khu cộng đồng Masteri Thảo Điền
							.project-des Sản phẩm sử dụng: Khung Vĩnh Tường V-WALL, khung trần chìm Vĩnh Tường ALPHA, khung trần nổi Vĩnh Tường TopLINE Plus, tấm thạch cao Gyproc chống ẩm, tấm thạch cao Gyproc chống cháy và tấm DURAflex 8mm.
			.item
				.project-item
					figure 
						.project-img
							img(src="img/project/1.jpg", alt="")
						figcaption
							h3.project-name
								a(href="#") Khu cộng đồng Masteri Thảo Điền
							.project-des Sản phẩm sử dụng: Khung Vĩnh Tường V-WALL, khung trần chìm Vĩnh Tường ALPHA, khung trần nổi Vĩnh Tường TopLINE Plus, tấm thạch cao Gyproc chống ẩm, tấm thạch cao Gyproc chống cháy và tấm DURAflex 8mm.
			.item
				.project-item
					figure 
						.project-img
							img(src="img/project/1.jpg", alt="")
						figcaption
							h3.project-name
								a(href="#") Khu cộng đồng Masteri Thảo Điền
							.project-des Sản phẩm sử dụng: Khung Vĩnh Tường V-WALL, khung trần chìm Vĩnh Tường ALPHA, khung trần nổi Vĩnh Tường TopLINE Plus, tấm thạch cao Gyproc chống ẩm, tấm thạch cao Gyproc chống cháy và tấm DURAflex 8mm.
section.product-compare.clearfix.wow.fadeInUp
	.container
		.table-responsive
			table.compare-table.compare-table2
				tr 
					th.title So sánh
					th.product
							.icon
								img(src="img/product/2/i1.png", alt="")
							.name Trần thạch cao
					th.product
							.icon
								img(src="img/product/2/i2.png", alt="")
							.name Trần bê tông
					//- th.product
							.icon
								img(src="img/icon/p3.png", alt="")
							.name Sàn ván ép
				tr 
					td.title Nguyên vật liệu
					td.content.clearfix
						img(src="img/product/logo2.png", alt="", style="float: left")
						p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellulose. Đặc biệt trong thành phần tấm không chứa các sợi amiang gây ung thư ( Chứng nhận không chứa amiang của sản phẩm).
					td.content.clearfix
						img(src="img/product/logo2.png", alt="", style="float: left")
						p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellulose. Đặc biệt trong thành phần tấm không chứa các sợi amiang gây ung thư ( Chứng nhận không chứa amiang của sản phẩm).
					//- td.content.clearfix
						img(src="img/product/logo2.png", alt="", style="float: left")
						p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellu
						p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi
				tr 
					td.title Chất gây ung thư
					td.content
						p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellulose. Đặc biệt trong thành phần tấm không chứa các sợi amiang gây ung thư ( Chứng nhận không chứa amiang
					td.content
						p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellulose. Đặc biệt trong thành phần tấm không chứa các sợi amiang gây ung thư ( Chứng nhận không chứa amiang
					td.content
						//- p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellu Đặc biệt trong thành phần 
				tr 
					td.title Công nghệ sản xuất
					td.content
						p Thông tin công nghệ sản xuất
					td.content
						p Thông tin công nghệ sản xuất
					//- td.content
						p Thông tin thời gian thi công
				tr 
					td.title Chống cháy
					td.content
						p Thông tin Chống cháy
					td.content
						p Thông tin Chống cháy
					//- td.content
						p Thông tin chi phí thi công
				tr 
					td.title Bảo hành
					td.content
						p Thông tin Bảo hành
					td.content
						p Thông tin Bảo hành
					//- td.content
						p Thông tin Lắp đặt M&E
				tr 
					td.title Thi công
					td.content
						p Thông tin Thi công
					td.content
						p Thông tin Thi công
					//- td.content
						p Thông tin Vệ sinh sau thi công
				tr 
					td.title Chứng nhận xanh
					td.content
						p Thông tin Chứng nhận xanh
					td.content
						p Thông tin Chứng nhận xanh
					//- td.content
						p Thông tin Công nghệ sản xuất
		h3.small-title.text-center.wow.fadeInUp Ứng dụng khác
		.app-list.clearfix
			.row
				.col-12.col-sm-6.col-lg-3.wow.fadeInUp
					.app-col
						figure 
							.app-img 
								img(src="img/icon/a1.png", alt="")
							figcaption
								h3.app-name
									a(href="#") Ứng dụng trần
								.app-des Sản phẩm thay thế trần thạch cao, ưu điểm chịu nước thích hợp với khí hậu, thời tiết nóng ẩm của Việt Nam.
								a.hvr-shutter-out-horizontal.link(href="#") Chi tiết
				.col-12.col-sm-6.col-lg-3.wow.fadeInUp
					.app-col
						figure 
							.app-img 
								img(src="img/icon/a2.png", alt="")
							figcaption
								h3.app-name
									a(href="#") Ứng dụng tường
								.app-des Khả năng chịu nước và các điều kiện khắc nghiệt khác giúp tấm DURAflex có thể sử dụng để làm tường vách ở các khu vực ẩm ướt cao.

								a.hvr-shutter-out-horizontal.link(href="#") Chi tiết
				.col-12.col-sm-6.col-lg-3.wow.fadeInUp
					.app-col
						figure 
							.app-img 
								img(src="img/icon/a3.png", alt="")
							figcaption
								h3.app-name
									a(href="#") Ứng dụng sàn
								.app-des Ứng dụng để làm sàn nhà, lót nền như các loại tấm xi-măng khác hay thay thế các loại gạch men, gạch bông...
								a.hvr-shutter-out-horizontal.link(href="#") Chi tiết
				//- .col-12.col-sm-6.col-lg-3
					.app-col
						figure 
							.app-img 
								img(src="img/icon/a4.png", alt="")
							figcaption
								h3.app-name
									a(href="#") Ứng dụng khác
								.app-des Keo xử lý mối nối DURAflex với thành phần chính là chất kết dính Polymer kết hợp với các phụ gia siêu mịn được nghiên cứu và pháp triển
								a.hvr-shutter-out-horizontal.link(href="#") Chi tiết
				.col-12.col-sm-6.col-lg-3.wow.fadeInUp
					.app-col
						figure 
							.app-img 
								img(src="img/icon/a5.png", alt="")
							figcaption
								h3.app-name
									a(href="#") DURAwood
								.app-des DURAwood là vật liệu có nền là tấm xi mamng8 DURAflex - sản phẩm kết hợp vật liệu chủ yếu là xi măng Portland, cát, vôi & được tăng cường...
								a.hvr-shutter-out-horizontal.link(href="#") Chi tiết
