section.product-intro.clearfix.wow.zoomIn
	.product-bg
		img(src="img/banner/s2.jpg", alt="")
	.container
		article.intro-content.clearfix.wow.fadeInLeft
			//- h1.product-logo
				img(src="img/product/logo1.png", alt="Durawood")
			h1.product-name Tấm lót sàn
			.content
				p Tấm lót sàn DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellu
			a.link.hvr-shutter-out-horizontal(href="#") Khám phá tấm lót sàn
section.product-section.s2.clearfix
	.container
		//- h1.home-title.text-center Thông tin sản phẩm
		.row
			.col-12.col-lg-6.col-text
				h2.page-title.wow.fadeInUp Khả năng chịu lực cao - Siêu bền chắc
				.product-des.content.wow.fadeInUp
					p Tấm xi măng DURAflex sử dụng xi măng Portland OPC với công nghệ sản xuất đặc biệt giúp sản phẩm giảm độ co ngót, tạo cường độ uốn, cường độ nén cao và khả năng chống thấm nước tốt.
					p Bề mặt tấm láng mịn và màu sắc tấm xi măng DURAflex sản xuất từ nguyên liệu xi măng sau khi hấp sẽ trắng sáng hơn so với vữa xi măng thông thường đem lại nhiều lợi thế khi thi công
				a.btn-viewmore.wow.fadeInUp(href="#") Tìm hiểu thêm
			.col-12.col-lg-6.col-img
				.product-img.wow.fadeInRight
					img(src="img/product/pr6.png", alt="")
section.product-section.clearfix
	.container
		//- h1.home-title.text-center Thông tin sản phẩm
		.row
			.col-12.col-lg-6.col-img
				.product-img.wow.fadeInLeft
					img(src="img/product/pr7.png", alt="")
			.col-12.col-lg-6.col-text
				h2.page-title.wow.fadeInUp Bảo hành độ bền 50 năm
				.product-des.content.wow.fadeInUp
					p Với các thành phần nguyên liệu xanh, sạch và công nghệ chưng hấp trong nồi áp suất với nhiệt độ hấp gần 200 độ C trong điều kiện áp suất 10 Psi giúp cho sản phẩm tạo ra các thành phần khoáng calcium silicate cực kỳ bền chắc với thời gian bảo hành trên 50 năm của nhà sản xuất.
					p Khác với những dòng sản phẩm sàn, trần và vách ngăn khác trên thị trường, Tấm xi măng DURAflex có nhiều tính năng như: chịu ẩm ướt, có thể sử dụng trong môi trường tiếp xúc nước như hồ bơi, phòng tắm, độ cứng và cường độ uốn cao, cách nhiệt, cách âm tốt, chống cháy, chống mối mọt, mục nát phân rã lên đến 50 năm.
				a.btn-viewmore.wow.fadeInUp(href="#") Tìm hiểu thêm
section.product-section.s2.clearfix
	.container
		//- h1.home-title.text-center Thông tin sản phẩm
		.row
			.col-12.col-lg-6.col-text
				h2.page-title.wow.fadeInUp Thi công dễ dàng & nhanh chóng
				.product-des.content.wow.fadeInUp
					p Tường xi măng DURAflex sử dụng xi măng Portland OPC với công nghệ sản xuất đặc biệt giúp sản phẩm giảm độ co ngót, tạo cường độ uốn, cường độ nén cao và khả năng chống thấm nước tốt.
					p Bề mặt tấm láng mịn và màu sắc tấm xi măng DURAflex sản xuất từ nguyên liệu xi măng sau khi hấp sẽ trắng sáng hơn so với vữa xi măng thông thường đem lại nhiều lợi thế khi thi công.
				a.btn-viewmore.wow.fadeInUp(href="#") Tìm hiểu thêm
			.col-12.col-lg-6.col-img
				.product-img.wow.fadeInRight
					img(src="img/product/pr8.png", alt="")
section.product-section.clearfix
	.container
		//- h1.home-title.text-center Thông tin sản phẩm
		.row
			.col-12.col-lg-6.col-img
				.product-img.wow.fadeInLeft
					img(src="img/product/pr2.png", alt="")
			.col-12.col-lg-6.col-text
				h2.page-title.wow.fadeInUp Chịu nước, chống ẩm
				.product-des.content.wow.fadeInUp
					p Tấm xi măng DURAflex được sản xuất từ xi măng, bột đá vôi và sợi giấy cellulose với công nghệ chưng áp trong Autoclave giúp sản phẩm có độ cứng của bê tông xi măng nhưng vẫn giữ được độ dẻo dai nhờ ma trận sợi giấy. Đặc biệt tấm DURAflex có cấu trúc sít đặc nhờ thành phần phối liệu cực mịn giúp tấm DURAflex có khả năng chống thấm nước cực tốt. Thông số chống thấm nước là một thông số kỹ thuật quan trọng để chúng ta lựa chọn vật liệu trước khi xây dựng.
				a.btn-viewmore.wow.fadeInUp(href="#") Tìm hiểu thêm
section.product-section.s2.clearfix
	.container
		//- h1.home-title.text-center Thông tin sản phẩm
		.row
			.col-12.col-lg-6.col-text
				h2.page-title.wow.fadeInUp Không cong vênh, không mối mọt
				.product-des.content.wow.fadeInUp
					p Tấm xi măng vân gỗ DURAwood được tạo thành trên nền tấm DURAflex nên có độ co ngót thấp (0.1%), trong quá trình sử dụng không bị cong vênh, đảm bảo chất lượng và vẻ đẹp thẩm mỹ.
				a.btn-viewmore.wow.fadeInUp(href="#") Tìm hiểu thêm
			.col-12.col-lg-6.col-img
				.product-img.wow.fadeInRight
					img(src="img/product/pr4.png", alt="")
section.product-video.clearfix
	.container
		.wrap
			h3.small-title.text-center.wow.fadeInUp Hướng dẫn thi công
			.product-video-slide
				.item.wow.fadeInUp
					a.video(href="#")
						figure
							img(src="img/video/1.jpg", alt="")
							figcaption
								<i class="fa fa-play-circle-o" aria-hidden="true"></i>
								span.video-name Hướng dẫn thi công 1
				.item.wow.fadeInUp
					a.video(href="#")
						figure
							img(src="img/video/1.jpg", alt="")
							figcaption
								<i class="fa fa-play-circle-o" aria-hidden="true"></i>
								span.video-name Hướng dẫn thi công 2
				.item.wow.fadeInUp
					a.video(href="#")
						figure
							img(src="img/video/1.jpg", alt="")
							figcaption
								<i class="fa fa-play-circle-o" aria-hidden="true"></i>
								span.video-name Hướng dẫn thi công 3
				.item.wow.fadeInUp
					a.video(href="#")
						figure
							img(src="img/video/1.jpg", alt="")
							figcaption
								<i class="fa fa-play-circle-o" aria-hidden="true"></i>
								span.video-name Hướng dẫn thi công 4
				.item.wow.fadeInUp
					a.video(href="#")
						figure
							img(src="img/video/1.jpg", alt="")
							figcaption
								<i class="fa fa-play-circle-o" aria-hidden="true"></i>
								span.video-name Hướng dẫn thi công 5

section.home-project.s2.clearfix.wow.fadeIn
	.project-bg
		img(src="img/woodbg2.jpg", alt="")
	.container
		h2.home-title.text-center.wow.fadeInUp Công trình tiêu biểu
		.home-project-slide.wow.fadeInUp
			.item
				.project-item
					figure 
						.project-img
							img(src="img/project/1.jpg", alt="")
						figcaption
							h3.project-name
								a(href="#") Khu cộng đồng Masteri Thảo Điền
							.project-des Sản phẩm sử dụng: Khung Vĩnh Tường V-WALL, khung trần chìm Vĩnh Tường ALPHA, khung trần nổi Vĩnh Tường TopLINE Plus, tấm thạch cao Gyproc chống ẩm, tấm thạch cao Gyproc chống cháy và tấm DURAflex 8mm.
			.item
				.project-item
					figure 
						.project-img
							img(src="img/project/1.jpg", alt="")
						figcaption
							h3.project-name
								a(href="#") Khu cộng đồng Masteri Thảo Điền
							.project-des Sản phẩm sử dụng: Khung Vĩnh Tường V-WALL, khung trần chìm Vĩnh Tường ALPHA, khung trần nổi Vĩnh Tường TopLINE Plus, tấm thạch cao Gyproc chống ẩm, tấm thạch cao Gyproc chống cháy và tấm DURAflex 8mm.
			.item
				.project-item
					figure 
						.project-img
							img(src="img/project/1.jpg", alt="")
						figcaption
							h3.project-name
								a(href="#") Khu cộng đồng Masteri Thảo Điền
							.project-des Sản phẩm sử dụng: Khung Vĩnh Tường V-WALL, khung trần chìm Vĩnh Tường ALPHA, khung trần nổi Vĩnh Tường TopLINE Plus, tấm thạch cao Gyproc chống ẩm, tấm thạch cao Gyproc chống cháy và tấm DURAflex 8mm.
section.product-compare.clearfix.wow.fadeInUp
	.container
		.table-responsive
			table.compare-table
				tr 
					th.title So sánh
					th.product
							.icon
								img(src="img/icon/p1.png", alt="")
							.name Sàn thạch cao
					th.product
							.icon
								img(src="img/icon/p2.png", alt="")
							.name Sàn bê tông
					th.product
							.icon
								img(src="img/icon/p3.png", alt="")
							.name Sàn ván ép
				tr 
					td.title Nguyên vật liệu
					td.content.clearfix
						img(src="img/product/logo2.png", alt="", style="float: left")
						p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellu
						p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi
					td.content.clearfix
						img(src="img/product/logo2.png", alt="", style="float: left")
						p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellu
						p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi
					td.content.clearfix
						img(src="img/product/logo2.png", alt="", style="float: left")
						p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellu
						p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi
				tr 
					td.title Ưu điểm thi công
					td.content
						p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellu Đặc biệt trong thành phần 
					td.content
						p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellu Đặc biệt trong thành phần 
					td.content
						p Tấm xi măng DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellu Đặc biệt trong thành phần 
				tr 
					td.title Thời gian thi công
					td.content
						p Thông tin thời gian thi công
					td.content
						p Thông tin thời gian thi công
					td.content
						p Thông tin thời gian thi công
				tr 
					td.title Chi phí thi công
					td.content
						p Thông tin chi phí thi công
					td.content
						p Thông tin chi phí thi công
					td.content
						p Thông tin chi phí thi công
				tr 
					td.title Lắp đặt M&E
					td.content
						p Thông tin Lắp đặt M&E
					td.content
						p Thông tin Lắp đặt M&E
					td.content
						p Thông tin Lắp đặt M&E
				tr 
					td.title Vệ sinh sau thi công
					td.content
						p Thông tin Vệ sinh sau thi công
					td.content
						p Thông tin Vệ sinh sau thi công
					td.content
						p Thông tin Vệ sinh sau thi công
				tr 
					td.title Công nghệ sản xuất
					td.content
						p Thông tin Công nghệ sản xuất
					td.content
						p Thông tin Công nghệ sản xuất
					td.content
						p Thông tin Công nghệ sản xuất
				tr 
					td.title Tái chế
					td.content
						p Thông tin Tái chế
					td.content
						p Thông tin Tái chế
					td.content
						p Thông tin Tái chế
				tr 
					td.title Chứng nhận
					td.content
						p Thông tin Chứng nhận
					td.content
						p Thông tin Chứng nhận
					td.content
						p Thông tin Chứng nhận
				tr 
					td.title Bảo hành vật liệu
					td.content
						p Thông tin Bảo hành vật liệu
					td.content
						p Thông tin Bảo hành vật liệu
					td.content
						p Thông tin Bảo hành vật liệu
		h3.small-title.text-center.wow.fadeInUp Ứng dụng khác
		.app-list.clearfix
			.row
				.col-12.col-sm-6.col-lg-3.wow.fadeInUp
					.app-col
						figure 
							.app-img 
								img(src="img/icon/a1.png", alt="")
							figcaption
								h3.app-name
									a(href="#") Ứng dụng trần
								.app-des Sản phẩm thay thế trần thạch cao, ưu điểm chịu nước thích hợp với khí hậu, thời tiết nóng ẩm của Việt Nam.
								a.hvr-shutter-out-horizontal.link(href="#") Chi tiết
				.col-12.col-sm-6.col-lg-3.wow.fadeInUp
					.app-col
						figure 
							.app-img 
								img(src="img/icon/a2.png", alt="")
							figcaption
								h3.app-name
									a(href="#") Ứng dụng tường
								.app-des Khả năng chịu nước và các điều kiện khắc nghiệt khác giúp tấm DURAflex có thể sử dụng để làm tường vách ở các khu vực ẩm ướt cao.

								a.hvr-shutter-out-horizontal.link(href="#") Chi tiết
				.col-12.col-sm-6.col-lg-3.wow.fadeInUp
					.app-col
						figure 
							.app-img 
								img(src="img/icon/a3.png", alt="")
							figcaption
								h3.app-name
									a(href="#") Ứng dụng sàn
								.app-des Ứng dụng để làm sàn nhà, lót nền như các loại tấm xi-măng khác hay thay thế các loại gạch men, gạch bông...
								a.hvr-shutter-out-horizontal.link(href="#") Chi tiết
				//- .col-12.col-sm-6.col-lg-3
					.app-col
						figure 
							.app-img 
								img(src="img/icon/a4.png", alt="")
							figcaption
								h3.app-name
									a(href="#") Ứng dụng khác
								.app-des Keo xử lý mối nối DURAflex với thành phần chính là chất kết dính Polymer kết hợp với các phụ gia siêu mịn được nghiên cứu và pháp triển
								a.hvr-shutter-out-horizontal.link(href="#") Chi tiết
				.col-12.col-sm-6.col-lg-3.wow.fadeInUp
					.app-col
						figure 
							.app-img 
								img(src="img/icon/a5.png", alt="")
							figcaption
								h3.app-name
									a(href="#") DURAwood
								.app-des DURAwood là vật liệu có nền là tấm xi mamng8 DURAflex - sản phẩm kết hợp vật liệu chủ yếu là xi măng Portland, cát, vôi & được tăng cường...
								a.hvr-shutter-out-horizontal.link(href="#") Chi tiết
