section.product-intro.s3.clearfix.wow.zoomIn
	.product-bg
		img(src="img/banner/s2.jpg", alt="")
	//- .container
		article.intro-content.clearfix.wow.fadeInLeft
			//- h1.product-logo
				img(src="img/product/logo1.png", alt="Durawood")
			h1.product-name Tấm lót sàn
			.content
				p Tấm lót sàn DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellu
			a.link.hvr-shutter-out-horizontal(href="#") Khám phá tấm lót sàn
section.product-page.clearfix
	.container
		h1.page-title.wow.fadeInLeft DURAflex - Ứng dụng làm lót sàn nền nhà, sàn nâng, sàn thang máy
		.row.flex-content-center
			.col-12.col-lg-10
				section.slide-wrap.clearfix.hidden-xs-down
					.product-slide.clearfix.wow.fadeInUp
						.item
							a.img(href="img/product/p1.jpg" data-fancybox="gal1")
								img(src="img/product/p1.jpg", alt="")
						.item
							a.img(href="img/product/p1.jpg" data-fancybox="gal1")
								img(src="img/product/p2.jpg", alt="")
						.item
							a.img(href="img/product/p1.jpg" data-fancybox="gal1")
								img(src="img/product/p1.jpg", alt="")
						.item
							a.img(href="img/product/p1.jpg" data-fancybox="gal1")
								img(src="img/product/p2.jpg", alt="")
						.item
							a.img(href="img/product/p1.jpg" data-fancybox="gal1")
								img(src="img/product/p1.jpg", alt="")
						.item
							a.img(href="img/product/p1.jpg" data-fancybox="gal1")
								img(src="img/product/p2.jpg", alt="")
					.product-nav.clearfix.wow.fadeInUp
						.item
							.img
								img(src="img/product/p1.jpg", alt="")
						.item
							.img
								img(src="img/product/p2.jpg", alt="")
						.item
							.img
								img(src="img/product/p1.jpg", alt="")
						.item
							.img
								img(src="img/product/p2.jpg", alt="")
						.item
							.img
								img(src="img/product/p1.jpg", alt="")
						.item
							.img
								img(src="img/product/p2.jpg", alt="")
		.share
			img(src="img/share.jpg", alt="")
		.row
			.col-12.col-lg-9
				section.product-overview.clearfix.wow.fadeInLeft
					.content
						p Sử dụng tấm DURAflex có độ dày 16mm, 18mm để làm sàn nâng hoặc sàn đúc giả cho các công trình để đạt được những ưu điểm vượt trội.
			.col-12.col-lg-3
				nav.product-sidebar.wow.fadeInRight
					ul 
						li 
							a(href="#") Đặt hàng
						li 
							a(href="#") Hỗ trợ kỹ thuật
						li 
							a(href="#") Tìm người bán
						li 
							a(href="#") Tài liệu kỹ thuật
			.col-12
				section.product-desc.clearfix
					//- ul.nav.nav-tabs.wow.fadeInUp(role='tablist')
						li.nav-item
							a.nav-link.active(data-toggle='tab', href='#tab1', role='tab', aria-controls='tab1', aria-expanded='true') Thông tin sản phẩm
					.small-title Thông tin sản phẩm
					.content.wow.fadeInUp
						p Sử dụng tấm DURAflex có độ dày 16mm, 18mm để làm sàn nâng hoặc sàn đúc giả cho các công trình để đạt được những ưu điểm vượt trội sau:
						p - Đa dụng, tiết kiệm 10% chi phí nguyên vật liệu (*)
							br
							|- Các đặc tính vượt trội: Chịu va đập cao, chịu được ẩm ướt và đặc biệt: độ chịu tải cao vượt trội so với các tấm cứng tương đương & các tấm xi măng dăm gỗ khác trên thị trường.
						p Thông số chịu tải của tấm sàn DURAflex: 
						.table-responsive
							table.product-table(cellspacing="0")
								thead
									tr 
										th(rowspan="2") Khẩu độ khung sàn(mm)
										th(colspan="7") Tải trọng công bố(kg/m2)
									tr
										th DURAflex 12mm
										th DURAflex 16mm
										th Các tấm cứng tương đương 15mm
										th Tấm xi măng dăm gỗ 15mm
										th DURAflex 18mm
										th Các tấm cứng tương đương 18mm
										th Tấm xi măng dăm gỗ 18mm
								tbody
									tr
										td 300 x 300
										td 2222
										td 4169
										td 2718
										td 
										td 5022
										td 3914
										td 
									tr
										td 300 x 300
										td 2222
										td 4169
										td 2718
										td 
										td 5022
										td 3914
										td 
									tr
										td 300 x 300
										td 2222
										td 4169
										td 2718
										td 
										td 5022
										td 3914
										td 
									tr
										td 300 x 300
										td 2222
										td 4169
										td 2718
										td 
										td 5022
										td 3914
										td 
									tr
										td 300 x 300
										td 2222
										td 4169
										td 2718
										td 
										td 5022
										td 3914
										td 
									tr
										td 300 x 300
										td 2222
										td 4169
										td 2718
										td 
										td 5022
										td 3914
										td 
									tr
										td 300 x 300
										td 2222
										td 4169
										td 2718
										td 
										td 5022
										td 3914
										td 
									tr
										td 300 x 300
										td 2222
										td 4169
										td 2718
										td 
										td 5022
										td 3914
										td 
									tr
										td 300 x 300
										td 2222
										td 4169
										td 2718
										td 
										td 5022
										td 3914
										td 
						p 
							strong KẾT CẤU SÀN GIẢ, SÀN NÂNG, SÀN THANG MÁY
						.text-center
							img(src="img/product/img1.jpg", alt="")
						p Sau khi lắp đặt xong, có thể hoàn thiện bề mặt bằng cách lót thảm, ốp gỗ hoặc ốp gạch,... tùy theo nhu cầu
							br
							strong Lưu ý: 
							|Không sử dụng cho những công trình yêu cầu tải trọng nặng 100kg trên diện tích dưới 10cm2
							br
							|Tham khảo thêm về cam kết chất lượng của Vĩnh Tường đối với tấm sàn DURAflex
						p Clip thử nghiệm độ chịu lực của tấm DURAflex so với các tấm cứng tương đương khác trên thị trường - trong điều kiện bình thường
						figure 
							img(src="img/product/v1.jpg", alt="")
						p Clip thử nghiệm độ chịu lực của tấm DURAflex so với các tấm cứng tương đương khác trên thị trường - sau khi các tấm được ngâm nước 24h
						figure
							img(src="img/product/v2.jpg", alt="")
						p (*): So với việc sử dụng tấm xi-măng dăm gỗ hoặc các tấm cứng khác cùng loại
			.col-12
				section.product-other.clearfix
					h3.page-title.wow.fadeInUp Sản phẩm cùng nhóm
					.product-list.clearfix
						.row
							.col-12.col-sm-6.col-lg-3.wow.fadeInUp
								.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/op1.jpg", alt="")
										figcaption
											h2.product-name
												a(href="#") DURAFlex - Ứng dụng lót mái
							.col-12.col-sm-6.col-lg-3.wow.fadeInUp
								.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/op2.jpg", alt="")
										figcaption
											h2.product-name
												a(href="#") DURAFlex - Ứng dụng làm trần nổi
							.col-12.col-sm-6.col-lg-3.wow.fadeInUp
								.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/op3.jpg", alt="")
										figcaption
											h2.product-name
												a(href="#") DURAFlex - Ứng dụng làm vách ngăn
							.col-12.col-sm-6.col-lg-3.wow.fadeInUp
								.product-col
									figure 
										a.product-img(href="#")
											img(src="img/product/op4.jpg", alt="")
										figcaption
											h2.product-name
												a(href="#") DURAFlex - Ứng dụng làm lớp lót sàn nhà - nền nhà