section.product-intro.s3.clearfix.wow.zoomIn
	.product-bg
		img(src="img/banner/s8.jpg", alt="")
	//- .container
		article.intro-content.clearfix.wow.fadeInLeft
			//- h1.product-logo
				img(src="img/project/logo1.png", alt="Durawood")
			h1.product-name Tấm lót sàn
			.content
				p Tấm lót sàn DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellu
			a.link.hvr-shutter-out-horizontal(href="#") Khám phá tấm lót sàn
.container
	.row
		.col-12.col-lg-9
			section.news-page.clearfix
				h1.page-title "Kiến trúc sư lựa chọn vật liệu dựa trên sự am hiểu và cái tâm"
				.news-info
					time 03/08/2017
				.content
					p Tấm calcium silicate vốn được sử dụng phổ biến trong thiết kế nội thất và ngoại thất tại các nước phát triển trong gần 100 năm qua, gần đây đã được Công ty CP Công nghiệp Vĩnh Tường giới thiệu tại thị trường Việt Nam với tên gọi DURAflex. “Sản phẩm ngày càng bộc lộ nhiều ưu điểm khiến tôi càng làm càng mê, chỉ muốn dành thêm nhiều thời gian và tâm huyết để đầu tư cho “đứa con tinh thần” này”, anh Nguyễn Trường Hải – Phó Tổng Giám đốc Công ty CP Công nghiệp Vĩnh Tường tâm sự . Quả thật, chúng tôi ít nhiều cảm nhận được “tình yêu” của vị giám đốc trẻ khi thấy anh dành cả những ngày cuối tuần để giới thiệu sản phẩm đến đối tác, khách hàng. Anh Nguyễn Trường Hải cho biết:

					p Những năm gần đây, ngành xây dựng thường nói về các công trình xanh, thân thiện với môi trường. Chúng tôi quan niệm, muốn có công trình xanh thì trước hết phải có vật liệu xanh. Và DURAflex  là vật liệu xanh mà chúng tôi đang giới thiệu ra thị trường, sản phẩm thật sự an toàn với môi trường và người sử dụng vì thành phần chủ yếu là xi măng, cát, đá vôi và sợi gỗ, hoàn toàn không chứa các chất có hại cho sức khỏe. Tấm calcium silicate này dần cho thấy sự thích ứng tuyệt vời với khí hậu của Việt Nam nhờ những đặc tính ưu việt của nó và ngày càng được sử dụng phổ biến trong các công trình xây dựng.  
					.row
						.col-12.col-md-7
							img(src="img/news/n1.jpg", alt="")
						.col-12.col-md-5
							p 
								strong Những đặc tính ưu việt mà anh muốn nói đến là gì?
							p Đó là các đặc tính “chịu” nước, chống cháy, chống ồn, chống nóng, chống mối mọt… Hiện nay, thị trường vật liệu kiến trúc rất đa dạng nhưng hiếm có vật liệu nào thích ứng tốt với môi trường nóng ẩm mưa nhiều và dễ phát triển mối mọt như Việt Nam. Tấm DURAflex  không chỉ “chịu” được hết các điều kiện bất lợi này mà còn được sử dụng làm giải pháp đa dạng cho cả trần, tường, vách ngăn và sàn nhà.
					p 
						strong Vĩnh Tường vốn được biết đến là nhà cung cấp các giải pháp toàn diện về thạch cao. Nay công ty lại đầu tư cho một thế mạnh khác là DURAflex, liệu có ảnh hưởng đến thị phần của sản phẩm thạch cao? 
					.row
						.col-12.col-md-6
							p Hoàn toàn không, hai sản phẩm này hứa hẹn sẽ bổ sung cho nhau. Vì tấm siêu bền mới này sẽ giúp hoàn thiện những vị trí mà mà thạch cao không giải quyết được, như khu vực ẩm ướt hay những khu vực trần, tường bên ngoài công trình, chịu lực va đập lớn và điều kiện thời tiết khắc nghiệt. Tấm calcium silicate đặc biệt phù hợp với các công trình gần biển, nơi có độ ẩm và độ mặn cao, thậm chí có thể được sử dụng để làm hàng rào vì khả năng chống mục nát, phân rã trong môi trường ẩm ướt lên đến hàng chục năm. Ngoài ra, sản phẩm sẽ là một giải pháp thay thế hữu hiệu cho vật liệu gạch nung vốn đã “ăn sâu” vào các công trình tại Việt Nam trong nhiều năm qua. 
						.col-12.col-md-6
							img(src="img/news/img1.jpg", alt="")
					p
						strong Hiện nay, ngành xây dựng đang sử dụng tới 80% gạch nung truyền thống. Liệu sản phẩm mới này sẽ “thuyết phục” các kiến trúc sư thay thế gạch nung như thế nào?
					p Chúng tôi thuyết phục các kiến trúc sư bằng chính những ưu điểm của sản phẩm. Từ nhỏ, tôi đã rất thích nghề kiến trúc sư nhưng không có cơ hội được theo học nghề này. Khi làm trong ngành vật liệu xây dựng, tôi càng có niềm tin đối với những kiến trúc sư giỏi và có tâm. Họ không đơn thuần chỉ là người thiết kế bản vẽ mà còn am hiểu sâu sắc về các loại vật liệu. Từ đó, họ thường không làm theo lối mòn mà luôn chủ động ứng dụng các vật liệu mới như DURAflex  để phát huy tối đa sức sáng tạo và tiết kiệm chi phí cho công trình.
					.text-center
						img(src="img/news/img2.jpg", alt="")
					p Có thể thấy rằng, nếu vật liệu mới có thể thay thế cho gạch nung thì hằng năm, chúng ta sẽ không còn mất đến hàng ngàn hecta đất nông nghiệp và không “đầu độc” môi trường với hàng triệu tấn khí CO2 nữa. Tấm calcium silicate lại nhẹ hơn tường gạch nhiều lần, giúp giảm đáng kể chi phí đầu tư và thời gian thi công. 
					p So với việc phải đập bỏ tường gạch nặng nề, tường DURAflex dễ thay đổi cấu trúc phòng, phân chia lại không gian mà không ảnh hưởng đến cấu trúc phần móng và không “phiền” những căn hộ xung quanh. Ưu điểm này rất phù hợp với nhu cầu của các công trình đô thị, nơi mà nhà được xây dựng san sát nhau và gia chủ thường có nhu cầu thay đổi về cấu trúc hoặc mở rộng không gian.
					.row
						.col-12.col-md-7
							img(src="img/news/img3.jpg", alt="")
						.col-12.col-md-5
							p Một khách hàng thân thiết của tôi hiện là chủ một doanh nghiệp xuất khẩu hải sản ở Nha Trang. Anh ấy yêu quý ngôi nhà cũ của mình đến nỗi dù có thừa khả năng mua một ngôi nhà khác, anh vẫn không muốn thay đổi nơi “an cư” của mình. Trong vòng hai tháng, chúng tôi đã giúp anh xây dựng một ngôi nhà hai tầng khang trang trên nền ngôi nhà cấp bốn cũ. Đến nay, anh vẫn rất hài lòng với khả năng cơi nới không giới hạn của DURAflex cũng như ưu điểm bền vững, chống ồn, chống nóng của sản phẩm này. Nhiều hộ dân cư ở khu vực đồng bằng sông Cửu Long hiện cũng rất ưa chuộng vật liệu mới khi làm trần nhà vì khả năng chống thấm nước, chống dột và tránh mối mọt.
					p 
						strong Vật liệu gỗ cũng được người Việt ưa thích vì yếu tố thẩm mỹ, tạo điểm nhấn độc đáo cho ngôi nhà và an toàn cho người sử dụng. Sản phẩm mới có thể thay thế được tường gỗ không, thưa anh?

					p Vật liệu gỗ tuy có giá trị thẩm mỹ nhưng giá thành tương đối cao và dễ bị mối mọt. Khí hậu nóng ẩm ở nước ta cũng làm gỗ dễ bị giãn nở, biến dạng. Vì vậy, chúng tôi đã đưa ra thị trường tấm DURAwood, vật liệu có nền là tấm xi măng DURAflex  nhưng bề mặt được tạo vân hoặc xớ xước giống gỗ thật. Như vậy, thị trường đã có sản phẩm thay thế gỗ để ốp tường nội ngoại thất, lót sàn, làm lam che nắng, hàng rào mà vẫn đảm bảo các yếu tố bền chắc, chống mối mọt, mục nát, chống ồn, chống cháy, thân thiện với môi trường. 

					p Nhiều công trình quán cà phê, quán bar rất ưa chuộng vật liệu mới của chúng tôi vì tính thẩm mỹ cao và cũng có thể kết hợp với nhiều màu sơn để tạo điểm nhấn độc đáo. Các công ty sản xuất đồ nội thất cũng dần thay thế gỗ truyền thống bằng DURAwood vì nguyên liệu đã được cấp chứng nhận Nhãn hàng xanh (Green Label) của Singapore, tạo điều kiện thuận lợi để xuất khẩu tấm đi các thị trường quốc tế.

					p 
						strong Tuy là một sản phẩm nhiều ưu điểm nhưng DURAflex còn khá mới đối với thị trường, anh đánh giá mức độ đón nhận của người tiêu dùng đối với sản phẩm hiện nay ra sao?

					p Tôi cho là phản hồi của người tiêu dùng rất tích cực, nên thị trường của DURAflex đang phát triển rất nhanh, khoảng 20-30% mỗi năm. Tôi vẫn chưa quên giai đoạn bắt đầu xây dựng nhà máy Hiệp Phú, tôi và đội ngũ đã tốn khá nhiều “học phí” trong gần một năm đầu cho quá trình cải tiến máy móc, hoàn chỉnh công thức, hoàn thiện sản phẩm. Đến nay, tôi ngày càng đam mê sản phẩm vì khả năng ứng dụng lớn, phục vụ tối đa cho sự sáng tạo của kiến trúc sư. 
					.row
						.col-12.col-md-5
							p Việt Nam được đánh giá là một trong những nước năng động nhất trong khu vực về ứng dụng vật liệu mới. Trong khi vài nước trong khu vực chỉ mới sử dụng tấm calcium silicate với màu sắc đơn điệu cho mục đích bao che là chủ yếu thì ở nước ta, sản phẩm đã sử dụng cho đa dạng các giải pháp từ trần, tường, vách ngăn đến sàn nhà với hoa văn, màu sắc phong phú. Tấm calcium silicate hiện cũng đang dẫn đầu thị trường và dần thay thế hàng nhập khẩu. Đây thật sự là một niềm tự hào đối với Vĩnh Tường cũng như những công ty tiên phong và tâm huyết đối với loại vật kiệu kiến trúc mới này.
						.col-12.col-md-7
							img(src="img/news/img4.jpg", alt="")
				.share
					img(src="img/share.jpg", alt="")
		.col-12.col-lg-3
			section.news-sidebar.clearfix
				h3.sidebar-title Bài viết khác
				.post-list
					.post
						figure 
							a.post-img(href="#")
								img(src="img/news/n5.jpg", alt="")
							figcaption
								time 25/07/2017
								h2.post-name
									a(href="#") Chuỗi chương trình Coffee Talk và đào tạo ứng dụng
					.post
						figure 
							a.post-img(href="#")
								img(src="img/news/n6.jpg", alt="")
							figcaption
								time 05/06/2017
								h2.post-name
									a(href="#") Khám phá đầu ngàm mới - Nhận quà cùng Vĩnh Tường
					.post
						figure 
							a.post-img(href="#")
								img(src="img/news/n7.jpg", alt="")
							figcaption
								time 31/05/2017
								h2.post-name
									a(href="#") Factory Tour: Đại học Hồng Bàng tham quan nhà máy Vĩnh Tường
					.post
						figure 
							a.post-img(href="#")
								img(src="img/news/n8.jpg", alt="")
							figcaption
								time 27/05/2017
								h2.post-name
									a(href="#") Bắt đầu khảo sát hơn 100 nhân vật đăng ký VMATTC2017
					.post
						figure 
							a.post-img(href="#")
								img(src="img/news/n9.jpg", alt="")
							figcaption
								time 25/05/2017
								h2.post-name
									a(href="#") Hội thảo vật liệu nhẹ cho công trình xanh tại các trường Đại học