section.product-intro.s3.clearfix.wow.zoomIn
	.product-bg
		img(src="img/banner/s7.jpg", alt="")
	//- .container
		article.intro-content.clearfix.wow.fadeInLeft
			//- h1.product-logo
				img(src="img/project/logo1.png", alt="Durawood")
			h1.product-name Tấm lót sàn
			.content
				p Tấm lót sàn DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellu
			a.link.hvr-shutter-out-horizontal(href="#") Khám phá tấm lót sàn
section.document-page.clearfix
	.container
		h1.page-title Download tài liệu
		nav.topnav.clearfix
			ul 
				li.active
					a(href="#") Catalogue sản phẩm
				li 
					a(href="#") Giới thiệu công ty
				li 
					a(href="#") Tài liệu chất lượng
		table.document-table
			thead
				tr 
					th Tên tài liệu
					th Ngày update
					th Download
			tbody
				tr 
					td 
						a(href="#") Tài liệu cửa Thăm Trần (0.3 MB)
					td 01/07/2017
					td 
						a.download(href="#") download
				tr 
					td 
						a(href="#") Vinh Tuong V-WALL - STANDARD DRYWALL (1.1 MB)
					td 01/07/2017
					td 
						a.download(href="#") download
				tr 
					td 
						a(href="#") Vinh Tuong SmartLINE - EXPOSED CEILING GRID (2.3 MB)
					td 01/07/2017
					td 
						a.download(href="#") download
				tr 
					td 
						a(href="#") Vinh Tuong TopLINE Plus - EXPOSED CEILING GRID (5.3 MB)
					td 01/07/2017
					td 
						a.download(href="#") download
				tr 
					td 
						a(href="#") Vinh Tuong BASI - Concealed Ceiling (2.3 MB)
					td 01/07/2017
					td 
						a.download(href="#") download
				tr 
					td 
						a(href="#") Vinh Tuong ALPHA - Concealed Ceiling (1.3 MB)
					td 01/07/2017
					td 
						a.download(href="#") download
				tr 
					td 
						a(href="#") Vinh Tuong TIKA - Concealed Ceiling  (1.3 MB)
					td 01/07/2017
					td 
						a.download(href="#") download
				tr 
					td 
						a(href="#") Vinh Tuong SERRA - PREMIUM CONCEALED CEILING GRID (1.5 MB)
					td 01/07/2017
					td 
						a.download(href="#") download
				tr 
					td 
						a(href="#") Vinh Tuong EliteLINE - EXPOSED CEILING GRID (1.4 MB)
					td 01/07/2017
					td 
						a.download(href="#") download
				tr 
					td 
						a(href="#") Tấm trang trí Vĩnh Tường DECO (1.3 MB)
					td 01/07/2017
					td 
						a.download(href="#") download
				tr 
					td 
						a(href="#") Vinh Tuong OMEGA - Concealed Ceiling (1.3 MB)
					td 01/07/2017
					td 
						a.download(href="#") download