section.product-intro.s3.clearfix.wow.zoomIn
	.product-bg
		img(src="img/banner/s8.jpg", alt="")
	//- .container
		article.intro-content.clearfix.wow.fadeInLeft
			//- h1.product-logo
				img(src="img/project/logo1.png", alt="Durawood")
			h1.product-name Tấm lót sàn
			.content
				p Tấm lót sàn DURAflex có cấu tạo từ các nguyên liệu là xi măng Portland, cát mịn, vôi và sợi cellu
			a.link.hvr-shutter-out-horizontal(href="#") Khám phá tấm lót sàn
section.news-page.clearfix
	.container
		h1.page-title Góc chia sẻ
		.news-list.clearfix
			.row
				.col-12
					article.news-col.big
						figure 
							a.news-img(href="#")
								img(src="img/news/n1.jpg", alt="")
							figcaption
								h2.news-name
									a(href="#") "Kiến trúc sư lựa chọn vật liệu dựa trên sự am hiểu và cái tâm"
								time.hidden-sm-down 03/08/2017
								time.hidden-md-up
									.date 25
									.month Tháng 07
								.news-des Tấm calcium silicate vốn được sử dụng phổ biến trong thiết kế nội thất và ngoại thất tại các nước phát triển trong gần 100 năm qua, gần đây đã được Công ty CP Công nghiệp Vĩnh Tường giới thiệu tại thị trường Việt Nam với tên gọi DURAflex. “Sản phẩm ngày càng bộc lộ nhiều ưu điểm khiến tôi càng làm càng mê, chỉ muốn dành thêm nhiều thời gian và tâm
								a.link(href="#") Xem thêm
				.col-12.col-sm-6.col-md-4.col-lg-3
					article.news-col
						figure
							a.news-img(href="#")
								img(src="img/news/n2.jpg", alt="alt")
							figcaption 
								time 
									.date 30
									.month Tháng 07
								h3.news-name
									a(href="#") Chuỗi Coffeetalk: Ứng dụng gỗ xanh Durawood
								.news-des Kiến trúc ngành xây dựng hiện nay đang bước vào thời kỳ chuyển đổi sang kiến trúc xanh
				.col-12.col-sm-6.col-md-4.col-lg-3
					article.news-col
						figure
							a.news-img(href="#")
								img(src="img/news/n3.jpg", alt="alt")
							figcaption 
								time 
									.date 28
									.month Tháng 07
								h3.news-name
									a(href="#") Hội thảo vật liệu không nung tại Bình Dương
								.news-des Ngày 24/7 vừa qua, Sở Xây Dựng tỉnh Bình Dương kết hợp cùng Saint-Gobain Việt Nam
				.col-12.col-sm-6.col-md-4.col-lg-3
					article.news-col
						figure
							a.news-img(href="#")
								img(src="img/news/n4.jpg", alt="alt")
							figcaption 
								time 
									.date 27
									.month Tháng 07
								h3.news-name
									a(href="#") Cuộc thi ảnh "Thợ Xịn Xài Hàng Xịn"
								.news-des Tiếp nối chuỗi chương trình Thợ Xịn Xài Hàng Xịn, với mong muốn tôn vinh vai trò
				.col-12.col-sm-6.col-md-4.col-lg-3
					article.news-col
						figure
							a.news-img(href="#")
								img(src="img/news/n5.jpg", alt="alt")
							figcaption 
								time 
									.date 25
									.month Tháng 07
								h3.news-name
									a(href="#") Chuỗi Chương trình Coffee Talk và đào tạo 
								.news-des Vào ngày 08 và 09/7/2017 vừa qua, công ty Cổ phần Công nghiệp Vĩnh Tường khởi động
				.col-12.col-sm-6.col-md-4.col-lg-3
					article.news-col
						figure
							a.news-img(href="#")
								img(src="img/news/n6.jpg", alt="alt")
							figcaption 
								time 
									.date 05
									.month Tháng 06
								h3.news-name
									a(href="#") Khám phá đầu ngàm mới  - Nhận quà cùng Vĩnh Tường
								.news-des Với mong muốn mang đến những tiện ích tốt nhất cho tất cả khách hàng, Công ty CPCN
				.col-12.col-sm-6.col-md-4.col-lg-3
					article.news-col
						figure
							a.news-img(href="#")
								img(src="img/news/n7.jpg", alt="alt")
							figcaption 
								time 
									.date 31
									.month Tháng 05
								h3.news-name
									a(href="#") Factory Tour: Đại học Hồng Bàng tham quan nhà
								.news-des Với mục đích đào tạo và chia sẻ các kiến thức thực tế, trong tháng 5 Vĩnh Tường – Gyproc
				.col-12.col-sm-6.col-md-4.col-lg-3
					article.news-col
						figure
							a.news-img(href="#")
								img(src="img/news/n8.jpg", alt="alt")
							figcaption 
								time 
									.date 27
									.month Tháng 05
								h3.news-name
									a(href="#") Bắt đầu khảo sát hơn 100 nhân vật đăng ký VMAT
								.news-des Trong tuần qua Ban tổ chức Vì Mái Ấm Thợ Thi Công 2017 đã có buổi họp đầu tiên để lên kế
				.col-12.col-sm-6.col-md-4.col-lg-3
					article.news-col
						figure
							a.news-img(href="#")
								img(src="img/news/n9.jpg", alt="alt")
							figcaption 
								time 
									.date 25
									.month Tháng 07
								h3.news-name
									a(href="#") Hội thảo Vật liệu nhẹ cho công trình xanh tại các
								.news-des Vào ngày 08 và 09/7/2017 vừa qua, công ty Cổ phần Công nghiệp Vĩnh Tường khởi động
.pages
	ul.pagination
		li.active
			a(href="#") 1
		li 
			a(href="#") 2
		li 
			a(href="#") 3
		li 
			a(href="#") 4