include breadcrumb
footer
	.popup-hotline
		a(href="tel:123456789") <i class="fa fa-phone" aria-hidden="true"></i>
	nav.footermenu.clearfix.hidden-md-up
		ul.menulink
			li 
				a(href="#") Giới thiệu
			li.hassub
				a(href="#") Sản phẩm
				.btn-showsub <i class="fa fa-angle-down" aria-hidden="true"></i>
				.sub
					ul 
						li 
							a(href="#") Ứng dụng trần
						li 
							a(href="#") Ứng dụng tường
						li 
							a(href="#") Ứng dụng sàn
						li 
							a(href="#") Durawood
			li 
				a(href="#") Giải pháp
			li 
				a(href="#") Dự án
			li 
				a(href="#") Hỗ trợ
			li 
				a(href="#") Tin tức
			li 
				a(href="#") Liên hệ
	section.footertop.clearfix
		.container
			nav.footernav.clearfix
				ul 
					li
						a(href="#") Trang chủ
					li
						a(href="#") Hỗ trợ kỹ thuật
					li
						a(href="#") CỔ đông
					li
						a(href="#") Tuyển dụng
					li
						a(href="#") Liên hệ
					li
						a(href="#") Chính sách bảo mật
			section.subscribe.clearfix
				.subscribefrm.clearfix
					input(type="text", placeholder="Nhập địa chỉ email của bạn...")
					button.subscribebutton Đăng ký
	section.footerbottom.clearfix
		.container
			.logo
				img(src="img/saintlogo.png", alt="")
			.copyright Copyright © 2015 - 2017 Vĩnh Tường
