header
	section.headertop.clearfix
		.container
			.sitelogo
				a(href="#")
					img(src="img/logo.png", alt="")
			.colright.clearfix
				.btn-showvtmenu.hidden-xl-up <i class="fa fa-th-list" aria-hidden="true"></i>
				.vtoverlay
				.toptool.clearfix
					.solution
						.dropdown
							a.dropdown-toggle(href='https://example.com', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
								| Chọn giải pháp theo yêu cầu của bạn
							.dropdown-menu(aria-labelledby='dropdownMenuLink')
								a.dropdown-item(href='#') Giải pháp 1
								a.dropdown-item(href='#') Giải pháp 2
								a.dropdown-item(href='#') Giải pháp 3
					.hotline
						span.label Hotline: 
						a(href="tel:18001218") 1800-1218
					.social
						a(href="#") <i class="fa fa-facebook" aria-hidden="true"></i>
						a(href="#") <i class="fa fa-youtube-play" aria-hidden="true"></i>
					.search.clearfix
						.searchtoggle <i class="fa fa-search" aria-hidden="true"></i>
						.searchwrap
							.searchbox
								input(type="text", placeholder="Tìm kiếm...")
								button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>
					.language
						a(href="#")
							img(src="img/en.jpg", alt="")
				nav.menu.clearfix
					.menucontent.clearfix
						.menuwrap
							ul.menulink
								li.active
									a(href="#") Sản phẩm
								li 
									a(href="#") Giải pháp
								li 
									a(href="#") Dự án
								li 
									a(href="#") Hỗ trợ kỹ thuật
								li 
									a(href="#") Giới thiệu
								li 
									a(href="#") Tin tức
								li 
									a(href="#") Liên hệ
	.overlay.hidden-xl-up
	section.headerbottom.clearfix
		.container
			.megamenu-wrap.clearfix
				.btn-showmenu.hidden-xl-up <i class="fa fa-bars" aria-hidden="true"></i>
				.duralogo
					a(href="#")
						img(src="img/duralogo.png", alt="")
				nav.duramenu.clearfix
					ul.menulink
						li 
							a(href="#") Giới thiệu
						li.hasmega.active
							a(href="#") Sản phẩm
							.btn-showsub.hidden-xl-up <i class="fa fa-angle-down" aria-hidden="true"></i>
							.mega
								ul 
									li 
										a(href="#")
											figure
												.icon
													img(src="img/icon/a1.png", alt="alt") 
												figcaption Ứng dụng trần
									li 
										a(href="#")
											figure
												.icon
													img(src="img/icon/a2.png", alt="alt") 
												figcaption Ứng dụng tường
									li 
										a(href="#")
											figure
												.icon
													img(src="img/icon/a3.png", alt="alt") 
												figcaption Ứng dụng sàn
									li 
										a(href="#")
											figure
												.icon
													img(src="img/icon/a5.png", alt="alt") 
												figcaption Durawood
						li 
							a(href="#") Giải pháp
						li 
							a(href="#") Dự án
						li 
							a(href="#") Hỗ trợ
						li 
							a(href="#") Tin tức
						li 
							a(href="#") Liên hệ
					a.btn-book(href="#") Đặt hàng
	nav.flytool.clearfix
		ul 
			li 
				a(href="#") <i class="fa fa-map-marker" aria-hidden="true"></i>
					span Hệ thống cửa hàng
			li 
				a(href="#") <i class="fa fa-comments-o" aria-hidden="true"></i>
					span Tư vấn kỹ thuật
			li 
				a(href="#") <i class="fa fa-download" aria-hidden="true"></i>
					span Tải về tài liệu
			li 
				a(href="#") <i class="fa fa-bars" aria-hidden="true"></i>
					span Mẫu trần vách ngăn
			li 
				a(href="#") <i class="fa fa-check-square-o" aria-hidden="true"></i>
					span Bảo hành
